<template name="account">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">Options</li>
                        {{#each brands}}
                        <a class="appnav" href="/account/b/{{brand_name}}"><li class="active"><i class="icon-user"></i> {{brand_name}}</li></a>
                        {{/each}}
                    </ul>
                    <div class="side-nav-line"></div>
                    <ul class="unstyled side-nav">
                        <a class="appnav" href="/account/update"><li><i class="icon-cog"></i> Account Details</li></a>
                    </ul>
                    </div>
                </div>
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="account_brand">
    <div class="account_brand">
        <div class="account-brand-title">Your social accounts</div>
        <div class="account-brand-sub-title">Facebook account</div>
        <div class="account-brand-container">{{{facebook_account}}}</div>
        <div class="account-brand-sub-title">Twitter account</div>
        <div class="account-brand-container">{{{twitter_account}}}</div>
        <div class="account-brand-sub-title">Foursquare account</div>
        <div class="account-brand-container">{{{foursquare_account}}}</div>
        {{#if accounts}}
        <div class="account-brand-title">Add a social network account</div>
        {{/if}}
        {{#if facebook_add}}
        <div class="account-brand-add-desc">Add a Facebook account to start managing your business Facebook page.</div>
        <button id="add_facebook" class="btn account-brand-add" type="button">Add a Facebook account</button>
        {{/if}}
        {{#if twitter_add}}
        <div class="account-brand-add-desc">Add a Twitter account to start managing your business Twitter profile.</div>
        <button id="add_twitter" class="btn account-brand-add" type="button">Add a Twitter account</button>
        {{/if}}
        {{#if foursquare_add}}
        <div class="account-brand-add-desc">Add a Foursquare account to start managing your business Foursquare venue.</div>
        <button id="add_foursquare" class="btn account-brand-add" type="button">Add a Foursquare account</button>
        {{/if}}
        {{#if accounts}}
        <div class="account-brand-break"></div>
        {{/if}}
        <div class="account-brand-title">Brand Mention</div>
        <div class="account-brand-sub-title">Business keywords</div>
        <div class="account-brand-container">

            {{#if brand_keywords}}
            {{#each brand_keywords}}
            <span class="brand-keywords badge badge-info">{{keyword}}<i class="icon-remove icon-white"></i></span>
            {{/each}}
            {{else}}
            No keywords added
            {{/if}}

        </div>
        <div class="account-brand-title">Set business keywords</div>
        <div class="account-brand-add-desc">The Unifide platform will search the web and notify you of any brand mentions based on your specified keywords.</div>
        <button class="btn account-brand-add" id="set-brand-keywords" type="button">Set your business keywords</button>
    </div>
</template>

<template name="account_brand_facebook">
    <table>
        <tr>
            <td>
                {{{facebook_name}}} (Facebook user)
            </td>
            <td class="delete-icon">
                <a id="del_facebook_user" class="appnav" href="#"><i class="icon-remove"></i></a>
            </td>
        </tr>
        <tr>
            {{#if facebook_page}}
            <td class="social-page">
                {{facebook_page.id}} (Facebook page)
            </td>
            <td class="delete-icon social-page">
                <a href="#" class="appnav" id="del_facebook_page"><i class="icon-remove"></i></a>
            </td>
            {{else}}
            <td class="social-page">
                <a id="get_facebook_pages" href="#">Add a Facebook page</a>
                <div id="facebook_page_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h5>Select a Facebook page to manage</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            {{#each page}}
                            <tr class="add_facebook_page" id="fb_page_{{name}}">
                                <td>
                                    <strong>{{name}}</strong>
                                </td>
                                <td>
                                    <strong>{{category}}</strong>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </td>
            {{/if}}
        </tr>
    </table>
</template>

<template name="account_brand_twitter">
    <table>
        <tr>
            <td>
                {{{twitter_name}}} (Twitter user)
            </td>
            <td class="delete-icon">
                <a id="del_twitter_user" class="appnav" href="#"><i class="icon-remove"></i></a>
            </td>
        </tr>
    </table>
</template>

<template name="account_brand_foursquare">
    <table>
        <tr>
            <td>
                {{{foursquare_name}}} (Foursquare user)
            </td>
            <td class="delete-icon">
                <a id="del_foursquare_user" class="appnav" href="#"><i class="icon-remove"></i></a>
            </td>
        </tr>
        <tr>
            {{#if foursquare_venue}}
            <td class="social-page">
                {{foursquare_venue}} (Foursquare venue)
            </td>
            <td class="delete-icon social-page">
                <a href="#" class="appnav del_foursquare_venue" id="del_foursquare_venue_{{foursquare_venue_id}}"><i class="icon-remove"></i></a>
            </td>
            {{else}}
            <td class="social-page">
                <a id="get_foursquare_venues_managed" href="#">Add a Foursquare venue</a>
                <div id="foursquare_venue_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h5>Select a Foursquare venue to manage</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            {{#each venue}}
                            <tr class="add_foursquare_venue" id="fsq_venue_{{id}}">
                                <td>
                                    <strong>{{name}}</strong>
                                </td>
                                <td>
                                    <strong>{{location.address}}</strong>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </td>
            {{/if}}
        </tr>
    </table>
</template>

<template name="account_details">
    <div class="account_details">
        <div class="account-brand-title">Account Details</div>
        <div class="account-brand-add-desc">
            Keep your account details up-to-date so we can inform you of upcoming changes and new features !
        </div>
        <div class="account-brand-sub-title">Brand Name</div>
        <div class="account-brand-container">
            <table>
                <tr>
                    <td>
                        {{{brand_name}}}
                    </td>
                    <td class="change-icon">
                        <a id="edit_brand_name" class="appnav" href="#">Edit name</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="edit_brand_name_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h5>Enter New Brand Name</h5>
            </div>
            <div class="modal-body">
                <label for="new_brand_name">New Brand Name</label>
                <input id="new_brand_name" type="text" placeholder="{{brand_name}}">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
                <button id="edit_brand_name_btn" class="btn btn-primary">Update</button>
            </div>
        </div>
        <div class="account-brand-sub-title">Account Password</div>
        <div class="account-brand-container">
            <table>
                <tr>
                    <td>
                        **************
                    </td>
                    <td class="change-icon">
                        <a id="edit_account_password" class="appnav" href="#">Change password</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="change_password_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h5>Change Account Password</h5>
            </div>
            <div class="modal-body">
                <label for="old_pass">Old Password</label>
                <input id="old_pass" type="password" placeholder="********">
                <label for="new_pass">New Password</label>
                <input id="new_pass" type="password" placeholder="********">
                <label id="change_password_error"></label>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
                <button id="change_password_btn" class="btn btn-primary">Change password</button>
            </div>
        </div>
        <div class="account-brand-sub-title">Account Email</div>
        <div class="account-brand-container">
            <table>
                <tr>
                    <td>
                        {{{account_email}}}
                    </td>
                    <td class="change-icon">
                        <a id="edit_account_email" class="appnav" href="#">Change email</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="change_email_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h5>Change Email</h5>
            </div>
            <div class="modal-body">
                <label for="new_email">New Email</label>
                <input id="new_email" type="text" placeholder="{{account_email}}">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
                <button id="change_email_btn" class="btn btn-primary">Update email</button>
            </div>
        </div>
    </div>
</template>