<template name="account">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">Accounts</li>
                        {{#each brands}}
                        <a class="appnav" href="/account/{{brand_name}}"><li class="active">{{brand_name}}</li></a>
                        {{/each}}
                    </ul>
                    <div class="side-nav-line"></div>
                    <ul class="unstyled side-nav">
                        <a class="appnav" href="/brand-mention/update"><li>Brand Mention</li></a>
                        <a class="appnav" href="/profile"><li>Profile</li></a>
                    </ul>
                </div>
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="account_brand">
    <div class="account_brand">
        <div class="account-brand-title">Your social accounts</div>
        <div class="account-brand-sub-title">Facebook account</div>
        <div class="account-brand-container">{{{facebook_account}}}</div>
        <div class="account-brand-sub-title">Twitter account</div>
        <div class="account-brand-container">{{{twitter_account}}}</div>
        <div class="account-brand-sub-title">Foursquare account</div>
        <div class="account-brand-container">{{{foursquare_account}}}</div>
        <div class="account-brand-title">Add a social network account</div>
        <div class="account-brand-add-desc">Add a Facebook account to start managing your business Facebook page.</div>
        <button class="btn account-brand-add" type="button">Add a Facebook account</button>
        <div class="account-brand-add-desc">Add a Twitter account to start managing your business Twitter profile.</div>
        <button class="btn account-brand-add" type="button">Add a Twitter account</button>
        <div class="account-brand-add-desc">Add a Foursquare account to start managing your business Foursquare venue.</div>
        <button class="btn account-brand-add" type="button">Add a Foursquare account</button>
    </div>
</template>