<template name="account">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li>Accounts</li>
                        <li>Profile</li>
                    </ul>
                </div>
                <div class="span12 span-fixed-sidebar">
                    <div class="account">
                        Account dasdasdadas
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>