<template name="profile">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">Accounts</li>
                        {{#each brands}}
                        <a class="appnav" href="/account/{{brand_name}}"><li>{{brand_name}}</li></a>
                        {{/each}}
                    </ul>
                    <div class="side-nav-line"></div>
                    <ul class="unstyled side-nav">
                        <a class="appnav" href="/brand-mention/update"><li>Brand Mention</li></a>
                        <a class="appnav" href="/profile"><li class="active">Profile</li></a>
                    </ul>
                </div>
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="profile_update">
    <div class="profile_update">
        <div class="account-brand-title">Update your profile</div>
        <div class="account-brand-add-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
</template>