.facebook
    .main-title
        padding-top: 20px
        padding-bottom: 20px
        width: 100%
        display: block
        border-bottom: 1px solid #cccccc

    .input-append
        margin-top: 30px !important

    .search-input
        width: 300px

    table
        margin-top: 30px !important
        width: 100%

        thead
            td
                background: #eeeeee
                height: 20px !important
                font-weight: bold

        td
            padding: 10px
