.foursquare .main-title {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #cccccc; }
.foursquare .input-append {
  margin-top: 30px !important; }
.foursquare .search-input {
  width: 300px; }
.foursquare table {
  margin-top: 30px !important;
  width: 100%; }
  .foursquare table thead td {
    background: #eeeeee;
    height: 20px !important;
    font-weight: bold; }
  .foursquare table td {
    padding: 10px; }
