.clear {
  clear: both; }

.overview {
  color: #4d4d4d;
  padding-top: 30px; }
  .overview .title {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    padding-left: 1px; }
  .overview .viewmore {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
    padding-top: 6px;
    padding-left: 1px;
    display: block;
    color: #7f7f7f; }
  .overview .overview-widget {
    background: white;
    margin-bottom: 30px;
    padding: 8px 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 320px; }
  .overview .overview-website {
    background: white;
    margin-bottom: 30px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 450px; }
  .overview .overview-mobile {
    background: white;
    margin-bottom: 30px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 200px; }

.overview-widget .table-hover, .facebook .table-hover, .twitter .table-hover, .foursquare .table-hover {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 12px; }
.overview-widget .overflow, .facebook .overflow, .twitter .overflow, .foursquare .overflow {
  overflow: hidden;
  height: 270px; }
.overview-widget table.table-hover td, .facebook table.table-hover td, .twitter table.table-hover td, .foursquare table.table-hover td {
  height: 50px;
  max-height: 90px; }
.overview-widget .facebook-profile-pic, .overview-widget .twitter-profile-pic, .overview-widget .foursquare-profile-pic, .facebook .facebook-profile-pic, .facebook .twitter-profile-pic, .facebook .foursquare-profile-pic, .twitter .facebook-profile-pic, .twitter .twitter-profile-pic, .twitter .foursquare-profile-pic, .foursquare .facebook-profile-pic, .foursquare .twitter-profile-pic, .foursquare .foursquare-profile-pic {
  width: 50px; }
.overview-widget .facebook-profile, .facebook .facebook-profile, .twitter .facebook-profile, .foursquare .facebook-profile {
  width: 160px; }
.overview-widget .facebook-profile-name, .facebook .facebook-profile-name, .twitter .facebook-profile-name, .foursquare .facebook-profile-name {
  font-weight: bold;
  font-size: 11px; }
.overview-widget .facebook-post-time, .facebook .facebook-post-time, .twitter .facebook-post-time, .foursquare .facebook-post-time {
  font-size: 10px; }
.overview-widget .facebook-post-content, .facebook .facebook-post-content, .twitter .facebook-post-content, .foursquare .facebook-post-content {
  width: 390px; }
.overview-widget .facebook-view-post, .facebook .facebook-view-post, .twitter .facebook-view-post, .foursquare .facebook-view-post {
  color: #0072c6; }
.overview-widget .twitter-profile-name, .facebook .twitter-profile-name, .twitter .twitter-profile-name, .foursquare .twitter-profile-name {
  font-weight: bold; }
.overview-widget .twitter-profile-handle, .facebook .twitter-profile-handle, .twitter .twitter-profile-handle, .foursquare .twitter-profile-handle {
  margin-left: 5px;
  font-size: 10px;
  color: #cccccc; }
.overview-widget .foursquare-tip-content, .facebook .foursquare-tip-content, .twitter .foursquare-tip-content, .foursquare .foursquare-tip-content {
  padding-top: 10px; }
.overview-widget .foursquare-profile-name, .facebook .foursquare-profile-name, .twitter .foursquare-profile-name, .foursquare .foursquare-profile-name {
  color: #999999; }
.overview-widget .foursquare-profile-name a:hover, .facebook .foursquare-profile-name a:hover, .twitter .foursquare-profile-name a:hover, .foursquare .foursquare-profile-name a:hover {
  text-decoration: underline; }

table.table-hover > tbody > tr:first-child > td {
  border-top: none; }

.container-shadow {
  border: 1px solid #d9d9d9;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px; }

.badge {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: 200; }

.entry-table .url {
  color: #807e7e;
  line-height: 0em; }
.entry-table td {
  border-top: none;
  border-bottom: 1px solid #ececec; }
