.overview {
    color: #4d4d4d;
    padding-top: 30px;
}

.overview .title {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    padding-left: 1px;
}

.overview .viewmore {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
    padding-top: 6px;
    padding-left: 1px;
    display: block;
    color: #7f7f7f;
}

.overview .overview-widget {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 8px 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 300px;
}

.overview-widget .table-hover {
    margin-top:10px;
    margin-bottom: 10px;
    height: 230px;
    font-size: 12px;
}

table.table-hover > tbody > tr:first-child > td {
    border-top: none;
}

.overview .overview-website {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 450px;
}

.overview .overview-mobile {
    background: #ffffff;
    margin-bottom: 30px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 200px;
}

.container-shadow {
    border: 1px solid #d9d9d9;
    -moz-box-shadow:  rgba(0, 0, 0, 0.1) 0 0 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
}