.clear
    clear: both

.overview
    color: #4d4d4d
    padding-top: 30px

    .title
        font-size: 12px
        font-weight: bold
        border-bottom: 1px solid #e0e0e0
        padding-bottom: 5px
        padding-left: 1px

    .viewmore
        font-size: 12px
        font-weight: bold
        border-top: 1px solid #e0e0e0
        padding-top: 6px
        padding-left: 1px
        display: block
        color: #7f7f7f

    .overview-widget
        background: #ffffff
        margin-bottom: 30px
        padding: 8px 13px
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        height: 320px

    .overview-website
        background: #ffffff
        margin-bottom: 30px
        padding: 10px
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        height: 450px

    .overview-mobile
        background: #ffffff
        margin-bottom: 30px
        padding: 10px
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        height: 200px

.overview-widget
    .table-hover
        margin-top: 2px
        margin-bottom: 10px
        font-size: 12px

    .overflow
        overflow: hidden
        height: 270px

    table.table-hover td
        height: 50px
        max-height: 90px

    .facebook-profile-pic, .twitter-profile-pic, .foursquare-profile-pic
        width: 50px

    .facebook-profile
        width: 160px

    .facebook-profile-name
        font-weight: bold
        font-size: 11px

    .facebook-post-time
        font-size: 10px

    .facebook-post-content
        width: 390px

    .facebook-view-post
        color: #0072C6

    .twitter-profile-name
        font-weight: bold

    .twitter-profile-handle
        margin-left: 5px
        font-size:  10px
        color: #cccccc

    .foursquare-tip-content
        padding-top: 10px

    .foursquare-profile-name
        color: #999999

    .foursquare-profile-name a:hover
        text-decoration: underline

table.table-hover > tbody > tr:first-child > td
    border-top: none

.container-shadow
    border: 1px solid #d9d9d9
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px


.badge
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    font-weight: 200

.entry-table
    .url
        color: #807e7e
        line-height: 0em

    td
        border-top: none
        border-bottom: 1px solid #ececec