.clear {
  clear: both; }

.overview {
  color: #4d4d4d;
  padding-top: 30px; }
  .overview .title {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    padding-left: 1px; }
  .overview .viewmore {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #e0e0e0;
    padding-top: 6px;
    padding-left: 1px;
    display: block;
    color: #7f7f7f; }
  .overview .overview-widget {
    background: white;
    margin-bottom: 30px;
    padding: 8px 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .overview .overview-mobile {
    background: white;
    margin-bottom: 30px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 200px; }

.overview-widget .table-hover, .facebook .table-hover, .twitter .table-hover, .foursquare .table-hover, .web .table-hover {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px; }
.overview-widget table.table-hover td, .facebook table.table-hover td, .twitter table.table-hover td, .foursquare table.table-hover td, .web table.table-hover td {
  height: 40px;
  max-height: 90px; }
.overview-widget .facebook-profile-pic, .overview-widget .twitter-profile-pic, .overview-widget .foursquare-profile-pic, .facebook .facebook-profile-pic, .facebook .twitter-profile-pic, .facebook .foursquare-profile-pic, .twitter .facebook-profile-pic, .twitter .twitter-profile-pic, .twitter .foursquare-profile-pic, .foursquare .facebook-profile-pic, .foursquare .twitter-profile-pic, .foursquare .foursquare-profile-pic, .web .facebook-profile-pic, .web .twitter-profile-pic, .web .foursquare-profile-pic {
  width: 40px; }
.overview-widget .facebook-profile-name, .facebook .facebook-profile-name, .twitter .facebook-profile-name, .foursquare .facebook-profile-name, .web .facebook-profile-name {
  font-weight: bold; }
.overview-widget .facebook-post-time, .facebook .facebook-post-time, .twitter .facebook-post-time, .foursquare .facebook-post-time, .web .facebook-post-time {
  font-size: 10px;
  color: #999999;
  font-weight: 600; }
.overview-widget .facebook-view-post, .overview-widget .foursquare-view-more, .facebook .facebook-view-post, .facebook .foursquare-view-more, .twitter .facebook-view-post, .twitter .foursquare-view-more, .foursquare .facebook-view-post, .foursquare .foursquare-view-more, .web .facebook-view-post, .web .foursquare-view-more {
  color: #0072c6; }
.overview-widget .twitter-profile-pic, .facebook .twitter-profile-pic, .twitter .twitter-profile-pic, .foursquare .twitter-profile-pic, .web .twitter-profile-pic {
  padding-top: 15px; }
.overview-widget .twitter-profile-name, .facebook .twitter-profile-name, .twitter .twitter-profile-name, .foursquare .twitter-profile-name, .web .twitter-profile-name {
  font-weight: bold; }
.overview-widget .twitter-profile-handle, .facebook .twitter-profile-handle, .twitter .twitter-profile-handle, .foursquare .twitter-profile-handle, .web .twitter-profile-handle {
  margin-left: 5px;
  font-size: 10px;
  color: #999999; }
.overview-widget .twitter-tweet-time, .facebook .twitter-tweet-time, .twitter .twitter-tweet-time, .foursquare .twitter-tweet-time, .web .twitter-tweet-time {
  color: #999999; }
.overview-widget .twitter-reply, .overview-widget .tweet-links, .facebook .twitter-reply, .facebook .tweet-links, .twitter .twitter-reply, .twitter .tweet-links, .foursquare .twitter-reply, .foursquare .tweet-links, .web .twitter-reply, .web .tweet-links {
  color: #0072c6; }
.overview-widget .twitter-reply-icon, .facebook .twitter-reply-icon, .twitter .twitter-reply-icon, .foursquare .twitter-reply-icon, .web .twitter-reply-icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: 0.8; }
.overview-widget .foursquare-tip-content, .facebook .foursquare-tip-content, .twitter .foursquare-tip-content, .foursquare .foursquare-tip-content, .web .foursquare-tip-content {
  padding-top: 10px; }
.overview-widget .foursquare-profile-name, .facebook .foursquare-profile-name, .twitter .foursquare-profile-name, .foursquare .foursquare-profile-name, .web .foursquare-profile-name {
  color: #999999; }
.overview-widget .foursquare-profile-name a:hover, .facebook .foursquare-profile-name a:hover, .twitter .foursquare-profile-name a:hover, .foursquare .foursquare-profile-name a:hover, .web .foursquare-profile-name a:hover {
  text-decoration: underline; }
.overview-widget .web-platform-icon-web, .facebook .web-platform-icon-web, .twitter .web-platform-icon-web, .foursquare .web-platform-icon-web, .web .web-platform-icon-web {
  background-image: url("/media/img/html5-64-black.png");
  background-size: cover;
  display: block;
  height: 20px;
  width: 20px; }
.overview-widget .web-platform-icon-blog, .facebook .web-platform-icon-blog, .twitter .web-platform-icon-blog, .foursquare .web-platform-icon-blog, .web .web-platform-icon-blog {
  background-image: url("/media/img/web-64-black.png");
  background-size: cover;
  display: block;
  height: 20px;
  width: 20px; }
.overview-widget .web-platform-icon-android, .facebook .web-platform-icon-android, .twitter .web-platform-icon-android, .foursquare .web-platform-icon-android, .web .web-platform-icon-android {
  background-image: url("/media/img/android-64-black.png");
  background-size: cover;
  display: block;
  height: 20px;
  width: 20px; }
.overview-widget .web-platform-icon-ios, .facebook .web-platform-icon-ios, .twitter .web-platform-icon-ios, .foursquare .web-platform-icon-ios, .web .web-platform-icon-ios {
  background-image: url("/media/img/apple-64-black.png");
  background-size: cover;
  display: block;
  height: 20px;
  width: 20px; }
.overview-widget .web-time, .facebook .web-time, .twitter .web-time, .foursquare .web-time, .web .web-time {
  color: #999999; }
.overview-widget .web-title, .facebook .web-title, .twitter .web-title, .foursquare .web-title, .web .web-title {
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 12px; }
.overview-widget .expanded-event-datetime, .facebook .expanded-event-datetime, .twitter .expanded-event-datetime, .foursquare .expanded-event-datetime, .web .expanded-event-datetime {
  margin-bottom: 10px;
  color: #999999; }
  .overview-widget .expanded-event-datetime .icon-calendar, .overview-widget .expanded-event-datetime .icon-time, .facebook .expanded-event-datetime .icon-calendar, .facebook .expanded-event-datetime .icon-time, .twitter .expanded-event-datetime .icon-calendar, .twitter .expanded-event-datetime .icon-time, .foursquare .expanded-event-datetime .icon-calendar, .foursquare .expanded-event-datetime .icon-time, .web .expanded-event-datetime .icon-calendar, .web .expanded-event-datetime .icon-time {
    opacity: 0.5; }
.overview-widget .expanded-event-start, .facebook .expanded-event-start, .twitter .expanded-event-start, .foursquare .expanded-event-start, .web .expanded-event-start {
  border-left: 1px solid #cccccc;
  margin-left: 10px;
  padding-left: 10px; }
.overview-widget .web-description, .facebook .web-description, .twitter .web-description, .foursquare .web-description, .web .web-description {
  max-height: 80px;
  overflow: hidden; }
.overview-widget .web-view-link, .facebook .web-view-link, .twitter .web-view-link, .foursquare .web-view-link, .web .web-view-link {
  margin-top: 5px;
  color: #0072c6; }

table.table-hover > tbody > tr:first-child > td {
  border-top: none; }

.container-shadow {
  border: 1px solid #d9d9d9;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px; }

.badge {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: 200; }

.entry-table .url {
  color: #807e7e;
  line-height: 0em;
  white-space: nowrap; }
.entry-table td {
  border-top: none;
  border-bottom: 1px solid #ececec; }

.no-data {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: #cccccc;
  font-weight: 600; }

#twitter-reply-modal textarea {
  resize: none;
  width: 97%; }
