<template name="items">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        {{#if is_root_container}}
                        <li class="side-header">Item Containers</li>
                        {{else}}
                        <a href="{{back_url}}" class="appnav">
                            <li class="side-header">Go back <span class="icon">u</span></li>
                        </a>
                        {{/if}}
                        {{#each child_containers}}
                        <a href="{{url}}" id="{{id}}" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">F</span> {{name}}</li>
                        </a>
                        {{/each}}
                        <li class="container-entry new_container"><span class="icon">+</span> Add Container</li>
                    </ul>
                </div>


                <!--- main area --->
                <div class="span12 span-fixed-sidebar">

                    <!--- breadcrumb --->
                    {{#if is_root_container}}
                    {{else}}
                    {{>item_breadcrumb}}
                    {{/if}}

                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="item_breadcrumb">
    <div class="breadcrumb-holder">
        <ul class="breadcrumb">
            <li>
                <a href="/items" class="appnav">Items{{nubela}}</a>
            </li>
            {{#each breadcrumbs}}
            <li>
                <span class="divider">/</span>
                <a href="{{url}}" class="appnav">{{name}}</a>
            </li>
            {{/each}}
            <li class="active">
                <span class="divider">/</span>
                {{active}}
            </li>
        </ul>
    </div>
</template>


<template name="select-container">
    <div class="select-container">
        <div class="tooltip fade right in span2" id="item-tooltip">
            <div style class="tooltip-arrow" />
            <div class="tooltip-inner">
                To begin, select <strong>Container</strong> from the left
            </div>
        </div>
    </div>
</template>


<template name="item_view">
    <ul class="nav nav-tabs">
        <li class="active">
            <a>Base Item</a>
        </li>
        <li>
            <a>Another item</a>
        </li>
        <li>
            <a>Next item</a>
        </li>
        <li class="pull-right">
            <a data-toggle="tooltip" title="Create another item based on {{item.name}}" href="{{created_base_url}}" class="appnav">
                <i class="icon-plus"></i>
            </a>
        </li>
    </ul>

    <div class="show-item">
        <div class="span4 item">
            <div class="thumbnail">
                {{#if item.media_url }}
                <img src="{{item.media_url}}" />
                {{else}}
                <img src="/media/img/placeholder.png" />
                {{/if}}
            </div>
        </div>
        <div class="span6">
            <div class="login-form">
                <h3>
                    {{item.name}}
                </h3>
                <p>
                    <strong>S${{item.price}}</strong>
                </p>
                <p>{{item.description}}</p>
                <br>
                <a href="{{update_url}}" class="appnav btn btn-primary btn-large btn-block">Update</a>
            </div>
            <p class="delete-item">
                <span id="delete-item">Delete item</span>
            </p>
        </div>
    </div>
</template>



<template name="item_compose">

    <ul class="nav nav-tabs">
        <li class="active">
            <a>Base Item</a>
        </li>
        <li>
            <a>Another item</a>
        </li>
        <li>
            <a>Next item</a>
        </li>
    </ul>

    <!--- new item compose --->
    <div class="compose-new-item well">
        <form method="POST" action="{{form_submit_url}}" enctype="multipart/form-data" data-validate="parsley" id="item-compose-form">
            {{#if to_be_based}}
            <legend>Create similar item based on {{item_to_update.name}}</legend>
            {{else}}
            {{#if item_to_update}}
            <legend>Update {{item_to_update.name}}</legend>
            {{else}}
            <legend>New Item</legend>
            {{/if}}
            fieldset
            {{/if}}

                <!--- hidden fields --->
                <input type="hidden" name="path_lis" id="path_lis" value='{{path_lis_json}}' />
                <input type="hidden" name="redirect_to" id="redirect_to" value='{{redirect_to}}' />
                <input type="hidden" name="tags" value='{{tags_json}}' id="custom-tag-lis" />
                <input type="hidden" name="custom_attr_lis" value='{{custom_attr_lis_json}}' id="custom-attr-lis" />
                <input type="hidden" name="custom_media_lis" value='{{custom_media_lis_json}}' id="custom-img-lis" />
                {{#if to_be_based}}
                <input type="hidden" name="group-id" value='{{item_to_update.group_id}}' id="group-id" />
                {{else}}
                <input type="hidden" name="id" id="id" {{#if item_to_update}}value="{{item_to_update.id}}"{{/if}} />
                {{/if}}

                <div class="control-group">
                    <label for="name">Item name</label>
                    <input type="text" placeholder="Item A" name="name" id="name" data-required="true" data-focus="first" {{#if item_to_update}}value="{{item_to_update.name}}"{{/if}} {{#if to_be_based}}readonly{{/if}} />
                </div>

                <div class="control-group">
                    <label for="media_file">Media</label>
                    <input type="file" name="media_file" id="media_file" id="media-file" />
                </div>

                <div class="control-group">
                    <label id="description">Description</label>
                    {{#if item_to_update}}
                    <textarea rows="3" name="description" id="description">{{item_to_update.description}}</textarea>
                    {{else}}
                    <textarea rows="3" name="description" id="description" />
                    {{/if}}
                </div>

                <div class="control-group">
                    <label for="price">Price ($)</label>
                    <input type="number" placeholder="4.95" name="price" id="price" {{#if item_to_update}}value="{{item_to_update.price}}"{{/if}} />
                </div>

                <div class="control-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" placeholder="100" name="quantity" id="quantity" {{#if item_to_update}}value="{{item_to_update.quantity}}"{{/if}} />
                </div>

                <div class="control-group">
                    <label>Tags</label>
                    <div class="tag hidden" id="tag-template">
                        <span>Works</span>
                        <a class="tagsinput-remove-link fui-cross-16" />
                    </div>
                    <div class="tagsinput" id="tagsinput">
                        {{#each item_to_update.tags}}
                        <div class="tag">
                            <span>{{this}}</span>
                            <a class="tagsinput-remove-link fui-cross-16" />
                        </div>
                        {{/each}}
                        <div class="tagsinput-add-container" id="tagsinput_addTag">
                            <div class="tagsinput-add fui-plus-16" />
                            <input data id="tagsinput_tag" />
                        </div>
                    </div>
                </div>

                <div class="control-group hidden" id="custom-attr-template">
                    <label for="quantity">Quantity</label>
                    <input name="quantity" id="quantity" class="custom-attr" />
                </div>

                <div class="control-group hidden" id="custom-img-template">
                    <label for="media_file">Media</label>
                    <input type="file" name="media_file" id="media_file" class="custom-media" />
                </div>

                <div class="control-group" id="custom-ctrl-grp">
                    <span class="btn btn-inverse" id="add-custom-attr-btn">Add custom attribute</span>
                    <span class="btn btn-inverse" id="add-custom-img-btn">Add media</span>
                </div>

                {{#each extra_attr}}
                <div class="control-group">
                    <label>{{this.k}}</label>
                    <input name="{{this.k}}" value="{{this.v}}" />
                </div>
                {{/each}}

                {{#each item_to_update.custom_media_lis}}
                <div class="control-group">
                    <label>{{this}}</label>
                    <input type="file" name="{{this}}" />
                </div>
                {{/each}}

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn">Save item</button>
                </div>
        </form>
    </div>
</template>


<template name="item_container">
    <!--- item container --->
    <div class="item-container">

        <div class="container-desc">

            <h2>
                {{container_name}}
            </h2>
            <small><span class="heydings">l</span> {{total_items}} items in {{container_name}}</small>
            {{#if desc}}
            <p class="lead">{{desc}}</p>
            {{/if}}
            <!---
            <p>
                <small>Sort by: <span class="sort_by_date {{#if sort_by_date}}active{{/if}}">Date added</a> / <span class="sort_by_name {{#if sort_by_date}}active{{/if}}">Name</span></small>
                --->
            </p>
        </div>

        <div class="items">
            {{#each items}}
            <div class="row-fluid">
                {{#each individual_item}}
                {{#if is_empty}}
                <div class="span2 item empty">
                    <a href="{{new_item_url}}" class="appnav">
                        <div class="thumbnail" id="create-new-item">
                            <div class="empty-img">
                                <span class="heydings">+</span> New Item
                            </div>
                        </div>
                    </a>
                </div>
                {{else}}
                <div class="span2 item">
                    <a href="{{item_url}}" class="appnav">
                        {{#if this.has_group}}
                        <div class="thumbnail bg2">
                            &nbsp;
                        </div>
                        <div class="thumbnail bg1">
                            &nbsp;
                        </div>
                        {{/if}}
                        <div class="thumbnail">
                            <div class="img-holder">
                                {{#if media_url}}
                                <img src="{{media_url}}" class="item-img" />
                                {{else}}
                                <img src="/media/img/placeholder.png" class="item-img" />
                                {{/if}}
                            </div>
                            <div class="text-caption">
                                <p>{{name}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/each}}
            </div>
            </br>
            {{/each}}
        </div>
    </div>
</template>
