@font-face {
  font-family: "heydings";
  src: url("/media/fonts/heydings_icons.ttf"); }

.side-header .icon {
  font-family: "heydings"; }

.item-container {
  padding: 20px; }
  .item-container .container-desc {
    width: 60%; }
    .item-container .container-desc p.lead {
      font-size: 1em;
      line-height: 1.5em; }
    .item-container .container-desc small {
      color: #999999; }
    .item-container .container-desc a {
      text-decoration: underline; }
    .item-container .container-desc .active {
      font-weight: bold; }
  .item-container .items {
    margin-top: 80px; }

.items .item {
  position: relative; }
  .items .item .thumbnail .img-holder {
    overflow: hidden; }
  .items .item .thumbnail .text-caption {
    background-image: url("/media/img/text_gray_bg_dark.png");
    color: white;
    width: 100%;
    height: 30px;
    float: left;
    position: relative;
    top: -30px;
    font-size: 0.9em;
    line-height: 30px;
    font-weight: 200; }
    .items .item .thumbnail .text-caption p {
      padding: 0 5px; }
  .items .item .bg1, .items .item .bg2 {
    position: absolute;
    width: 92%;
    height: 80%; }
  .items .item .bg1 {
    right: -6px;
    top: -6px; }
  .items .item .bg2 {
    right: -12px;
    top: -12px; }
.items .empty .empty-img:hover {
  background-color: #e4e4e9; }
.items .empty .empty-img {
  background-color: whitesmoke;
  max-width: 100%;
  height: 165px;
  line-height: 165px;
  text-align: center;
  color: #999999;
  font-weight: 200;
  cursor: pointer; }

.compose-new-item {
  margin-top: 20px; }
  .compose-new-item form input, .compose-new-item form textarea, .compose-new-item form select, .compose-new-item form .tagsinput {
    width: 60%; }
  .compose-new-item form .tagsinput {
    border-color: #cccccc;
    background-color: white;
    border-width: 1px; }
    .compose-new-item form .tagsinput .tag {
      background-color: #34495e; }

.show-item .login-form {
  margin-top: 5px; }
.show-item .delete-item {
  text-align: right;
  padding: 5px;
  color: #999999;
  font-size: 0.7em; }
  .show-item .delete-item #delete-item {
    cursor: pointer; }

.select-container {
  margin-top: 60px; }

.container-entry .icon {
  font-family: "heydings"; }

.new_container {
  font-size: 12px; }

#item-tooltip {
  z-index: 0; }
