<template name="order">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/order" class="appnav">
                            <li class="side-header">Orders / RSVP</li>
                        </a>
                        <a href="/order" class="appnav">
                            <li class="container-entry"><span class="icon">v</span> Overview</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar twitter">

                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="order_details">
    <div class="right-container">
        <div class="container-title">
            <h2>
                Order for {{order_info.obj_name}}
            </h2>
            <p>
                <span class="lead">
                    ({{order_info.id}})
                </span>
            </p>
            <p>
                <span class="badge badge-info">{{order_info.status}}</span>
            </p>
            <p>
                <small>
                    <span class="heydings">l</span> Order made on <strong>{{order_info.readable_date}}</strong>
                </small>
            </p>
            <p>
                <small>
                    <span class="heydings">A</span> <strong>{{order_info.user_name}}</strong>
                </small>
            </p>
            <p>
                <small>
                    <span class="heydings">t</span> Order for <strong>{{order_info.quantity}} unit(s)</strong>
                </small>
            </p>
            {{#if order_info.special_notes}}
            <p>
                <small>
                    <span class="heydings">b</span> User noted "<strong>{{order_info.special_notes}}</strong>"
                </small>
            </p>
            {{#if order_info.public_note}}
            <p>
                <small>
                    <span class="heydings">b</span> Order note "<strong>{{order_info.public_note}}</strong>"
                </small>
            </p>
            {{/if}}
            {{#if order_info.private_note}}
            <p>
                <small>
                    <span class="heydings">b</span> Private Order note "<strong>{{order_info.private_note}}</strong>"
                </small>
            </p>
            {{/if}}
            {{/if}}
            <p>
                <br />
                <a href="/order/update/{{order_info.id}}" class="btn-large btn btn-primary">Update Order Status</a>
            </p>
        </div>

        <br />
        <br />
        <h3>
            User Details
        </h3>
        <table class="table-striped table-hover">
            <thead>
                <tr>
                    <td>
                        Type
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
            </thead>
            <tbody>
                {{#each user_info}}
                <tr>
                    <td>
                        {{key}}
                    </td>
                    <td>
                        <strong>
                            {{value}}
                        </strong>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="order_update">
    <div class="form-holder well">
        <form method="POST" action="{{submit_url}}" data-validate="parsley" id="bizinfo-update-form">
            <legend>Update Order</legend>

            <fieldset>
                <!--- hidden fields --->
                <input type="hidden" name="redirect_to" value='{{redirect_url}}' />
                <input type="hidden" name="order_id" value='{{order_id}}' />

                <div class="control-group">
                    <label for="order_status">Order Status</label>
                    <select id="order_status" name="status">
                        <option value="{{current.status}}" selected>(Current Status) {{current.status}}</option>
                        <option value="New">Fresh Order</option>
                        <option value="Processing">Processing</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Cancelled">Cancel Order</option>
                        <option value="On Hold">On Hold</option>
                    </select>
                </div>

                <div class="control-group">
                    <label id="description">Notes (Visible to user)</label>
                    {{#if current.public_note}}
                    <textarea rows="3" name="public_note" id="description" placeholder="Your order will be expedited!">{{current.public_note}}</textarea>
                    {{else}}
                    <textarea rows="3" name="public_note" id="description" placeholder="Your order will be expedited!" />
                    {{/if}}
                </div>

                <div class="control-group">
                    <label id="description">Private Notes (Visible only to you)</label>
                    {{#if current.private_note}}
                    <textarea rows="3" name="private_note" id="description" placeholder="User called and requested for..">{{current.private_note}}</textarea>
                    {{else}}
                    <textarea rows="3" name="private_note" id="description" placeholder="User called and requested for.." />
                    {{/if}}
                </div>

                <!---
                <div class="control-group">
                    <label for="update_user" class="checkbox">
                        <span class="icon" />
                        <span class="icon-to-fade" />
                        <input type="checkbox" id="update_user" name="update_user_email" />
                        Send email to user to update this order status change?
                    </label>
                </div>
                --->

                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn" id="bizinfo-submit-btn">Update</button>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<template name="order_table">
    <div class="right-container">
        <div class="container-title">
            <div class="row-fluid">
                <h2>
                    Orders and RSVP Overview
                </h2>
            </div>
            <div class="row-fluid">
                <p>
                    <small>
                        <span class="heydings">l</span> Listing {{current_orders}} - {{max_orders}} out of {{total_orders}} newest orders
                    </small>
                </p>
            </div>
            <br />

            {{#if is_filtered}}
            <div class="row-fluid">
                <div class="span6">
                    <div class="share mrl" id="filtered-box">
                        <ul>
                            <li class="text-center">
                                Showing only orders from <br><strong>{{filtered_item_name}}</strong>
                            </li>
                        </ul>
                        <a href="/order" class="btn btn-primary btn-block btn-large appnav">Remove filter</a>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>

        <br />
        {{#if has_orders}}
        <table class="table-striped table-hover">
            <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        Item/Event
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Order Date
                    </td>
                    <td>
                        Status
                    </td>
                    <td>
                        Actions
                    </td>
                </tr>
            </thead>

            <tbody>
                {{#each orders}}
                <tr class="order-entry">
                    <td>
                        {{id}}
                    </td>
                    <td>
                        {{item_name}}
                    </td>
                    <td>
                        {{user_name}}
                    </td>
                    <td>
                        {{date}}
                    </td>
                    <td>
                        <span class="badge badge-info">{{status}}</span>
                    </td>
                    <td>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a href="/order/details/{{id}}" title="See details on this order" class="view-details order-action btn btn-disabled appnav">
                                    <i class="fui-eye-16" />
                                </a>
                                <a href="/order/filtered/{{obj_id}}" title="Show all orders from this item" class="view-list-items order-action btn btn-disabled appnav">
                                    <i class="fui-menu-16" />
                                </a>
                                <a href="/order/update/{{id}}" title="Update order status" class="view-change-statusitems order-action btn btn-disabled appnav">
                                    <i class="fui-new-16" />
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="well no-orders">
            <p class="no-order-alert">
                <small>
                    No orders so far..
                </small>
            </p>
        </div>
        {{/if}}

        {{#if has_pagination}}
        <div class="pagination">
            <ul>
                {{#if pagination.prev.has}}
                <li class="previous">
                    <a href="{{pagination.prev.url}}">
                        <img src="/media/img/pager/previous.png" />
                    </a>
                </li>
                {{/if}}
                {{#if pagination.next.has}}
                <li class="next">
                    <a href="{{pagination.next.url}}">
                        <img src="/media/img/pager/next.png" />
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
        {{/if}}
    </div>
</template>
