<template name="shipping">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/shipping" class="appnav anchor-container">
                            <li class="side-header">Shipping</li>
                        </a>
                        <a href="/shipping" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">w</span> All Methods</li>
                        </a>
                        <a href="/shipping/new" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">+</span> New Method</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="shipping_all">
    <div class="right-container">
        <div class="container-title">
            <h2>
                An overview of your shipping methods
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="btn-holder btn-after-main-desc">
            <a href="/shipping/new" class="appnav btn">
                <span class="heydings">+</span>
                Create a new shipping method
            </a>
        </div>

        <div class="campaign">
            <div class="faketable">
                <div class="thead">
                    <div class="span2">
                        Name
                    </div>
                    <div class="span2">
                        Price per unit weight
                    </div>
                    <div class="span2">
                        Base flat fee
                    </div>
                    <div class="span1">
                        Min
                    </div>
                    <div class="span1">
                        Max
                    </div>
                    <div class="span2">
                        Admin
                    </div>
                    <div class="span2">
                        Status
                    </div>
                </div>

                <div class="tbody">
                    {{#each all_methods}}
                    <div data-expand="{{this.id}}" class="tr pointer obj-row">
                        <div class="span2">
                            {{this.name}}
                        </div>
                        <div class="span2">
                            {{this.price_per_unit_vol_weight}}
                        </div>
                        <div class="span2">
                            {{this.flat_price}}
                        </div>
                        <div class="span1">
                            {{this.min_unit_vol_weight}}/unit
                        </div>
                        <div class="span1">
                            {{this.max_unit_vol_weight}}/unit
                        </div>
                        <div class="span2">
                            {{this.admin.username}}
                        </div>
                        <div class="span2">
                            {{this.status}}
                        </div>
                    </div>
                    <div data-expanded="{{this.id}}" class="expanded hidden">
                        <div class="expanded-within">
                            {{#if this.description}}
                            <blockquote>
                                {{this.description}}
                            </blockquote>
                            {{/if}}
                            {{#if this.origin_desc}}
                            <p>
                                <small>
                                    {{{this.origin_desc}}}<br>
                                </small>
                            </p>
                            {{/if}}
                            <hr />
                            <div class="btn-holder">
                                {{#if this.has_disable_btn}}
                                <a class="btn btn-primary disable-btn">
                                    <span class="heydings">r</span>
                                    Disable
                                </a>
                                {{else}}
                                <a class="btn btn-primary enable-btn">
                                    <span class="heydings">r</span>
                                    Enable
                                </a>
                                {{/if}}

                                <a class="btn delete-btn">
                                    <span class="heydings">-</span>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="thead">
                    <div class="pull-right paged">
                        {{#if has_next}}
                        <a href="{{next_page_url}}" class="appnav">
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                        </a>
                        {{/if}}
                        <div class="pull-right page-no">
                            {{current_page}}
                        </div>
                        {{#if has_prev}}
                        <a href="{{prev_page_url}}" class="appnav">
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="shipping_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="shipping-compose-form">
            <legend>New Shipping Method</legend>
            <fieldset>

                <div class="control-group">
                    <label for="name">Give a name to this shipping method</label>
                    <input type="text" placeholder="DHL Express" name="name" data-required="true" data-focus="first" id="name" />
                </div>

                <div class="control-group">
                    <label id="description">Describe it</label>
                    <textarea rows="3" name="description" id="description" />
                </div>

                <div class="control-group">
                    <label for="price-per-weight">Price per weight unit</label>
                    <input type="number" placeholder="2.50" name="price_per_weight" data-required="true" id="price-per-weight" />
                </div>

                <div class="control-group">
                    <label for="base-flat-fee">Base Flat Fee</label>
                    <input type="number" placeholder="5" name="base_flat_fee" data-required="true" id="base-flat-fee" />
                </div>

                <div class="control-group">
                    <label for="min-weight">Minimum shipping weight</label>
                    <input type="number" placeholder="0" name="min_weight" data-required="true" id="min-weight" />
                </div>

                <div class="control-group">
                    <label for="max-weight">Maximum shipping weight (Enter a large number if you want it to be unlimited)</label>
                    <input type="number" placeholder="999999999999" name="max_weight" data-required="true" id="max-weight" />
                </div>

                <div class="control-group">
                    <label for="from">Valid if shipping from (Leave blank if not applicable)</label>
                    <input type="text" placeholder="Singapore" name="from" id="from" />
                </div>

                <div class="control-group">
                    <label for="to">Valid shipping destination (Leave blank if not applicable)</label>
                    <input type="text" placeholder="Australia" name="to" id="to" />
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn">Save Shipping Method</button>
                    <a href="/shipping" class="appnav btn-large btn submit-btn">Back to view all Shipping Methods</a>
                </div>
            </fieldset>
        </form>
    </div>
</template>
