@font-face {
  font-family: "heydings";
  src: url("/media/fonts/heydings_icons.ttf"); }

.breadcrumb-holder {
  margin-top: 20px; }

.heydings {
  font-family: "heydings"; }

.btn-primary {
  background-color: #0072c6 !important;
  color: white !important; }

.btn-primary:hover {
  background-color: #2a8cd4 !important; }

.form-holder {
  margin-top: 20px; }
  .form-holder input, .form-holder textarea {
    width: 60%; }

.btn-disabled {
  background-color: #e5e5e5 !important;
  color: white !important; }

.container-title {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 60%; }

.text-center {
  text-align: center; }

.btn-holder {
  padding: 10px 0; }

.btn-after-main-desc {
  padding-top: 0; }

.main-description {
  border-left: 3px solid #3498db !important; }
  .main-description .description-title {
    color: #34495e; }
  .main-description small {
    color: #34495e; }

.dark-blue {
  color: #2980b9; }

.clear {
  clear: both; }
