@import "typography"

.breadcrumb-holder
    margin-top: 20px

.heydings
    +heydings

.btn-primary
    background-color: #0072C6 !important
    color: #ffffff !important

.btn-primary:hover
    background-color: #2a8cd4 !important

.form-holder
    margin-top: 20px
    input,textarea
        width: 60%

.btn-disabled
    background-color: #e5e5e5 !important
    color: #ffffff !important

.container-title
    padding-top: 20px
    padding-bottom: 40px
    width: 60%

.text-center
    text-align: center

.btn-holder
    padding: 10px 0

.btn-after-main-desc
    padding-top: 0

.main-description
    border-left: 3px solid #3498DB !important
    .description-title
        color: #34495E
    small
        color: #34495E

.dark-blue
    color: #2980B9

.clear
    clear: both