@import "typography"

.breadcrumb-holder
    margin-top: 20px

.heydings
    +heydings

.btn-primary
    background-color: #0072C6 !important
    color: #ffffff !important

.btn-primary:hover
    background-color: #2a8cd4 !important

.form-holder
    margin-top: 20px
    input,textarea
        width: 60%

.btn-disabled
    background-color: #e5e5e5 !important
    color: #ffffff !important

.container-title
    padding-top: 20px
    padding-bottom: 40px
    width: 60%

.text-center
    text-align: center

.btn-holder
    padding: 10px 0

.btn-after-main-desc
    padding-top: 0

.main-description
    .description-title
        color: #34495E
    small
        color: #34495E

.highlighted
    border-left: 3px solid #3498DB !important

.dark-blue
    color: #2980B9

.clear
    clear: both

.table-header-input
    width: 350px

.search-widget
    table
        width: 100%
        tr
            td
                padding: 5px 5px

    .control-group
        width: 100%
        input
            width: 100%

.belize-hole
    color: #2980B9

.bold
    font-weight: bold

.pointer
    cursor: pointer

.faketable
    margin-top: 20px
    .thead
        background-color: #eeeeee
        overflow: hidden
        div
            color: #333333
            font-size: 12px
            font-weight: bold
            padding-left: 10px
            line-height: 30px

        .page-next, .page-back
            margin-top: 8px
        .paged
            padding-right: 10px
            .page-no
                padding: 0 10px

    .thead-search
        div
            line-height: 50px
        input
            margin-top: 10px
            width: 80%
    .tbody
        .tr
            background-color: #f9f9f9
            height: 38px
            clear: both
            div
                color: #333333
                font-size: 12.5px
                padding-left: 10px
                line-height: 38px
        .tr:hover
            background-color: #f5f5f5
            cursor: pointer
        .expanded
            clear: both
            overflow: hidden
            background-color: #f9f9f9
            .expanded-within
                p
                    padding: 10px
                margin: 20px
                background-color: white
                .btn-holder
                    padding: 10px


.no-results
    font-style: italic
    text-align: center
    font-size: 10px
    padding-top: 20px
    padding-bottom: 20px
