@import "typography"

.breadcrumb-holder
    margin-top: 20px

.heydings
    +heydings

.btn-primary
    background-color: #0072C6 !important

.btn-primary:hover
    background-color: #2a8cd4 !important