@font-face {
  font-family: "heydings";
  src: url("/media/fonts/heydings_icons.ttf"); }

.breadcrumb-holder {
  margin-top: 20px; }

.heydings {
  font-family: "heydings"; }

.btn-primary {
  background-color: #0072c6 !important;
  color: white !important; }

.btn-primary:hover {
  background-color: #2a8cd4 !important; }

.form-holder {
  margin-top: 20px; }
  .form-holder input, .form-holder textarea {
    width: 60%; }

.btn-disabled {
  background-color: #e5e5e5 !important;
  color: white !important; }

.container-title {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 60%; }

.text-center {
  text-align: center; }

.btn-holder {
  padding: 10px 0; }

.btn-after-main-desc {
  padding-top: 0; }

.main-description .description-title {
  color: #34495e; }
.main-description small {
  color: #34495e; }

.highlighted {
  border-left: 3px solid #3498db !important; }

.dark-blue {
  color: #2980b9; }

.clear {
  clear: both; }

.table-header-input {
  width: 350px; }

.search-widget table {
  width: 100%; }
  .search-widget table tr td {
    padding: 5px 5px; }
.search-widget .control-group {
  width: 100%; }
  .search-widget .control-group input {
    width: 100%; }

.belize-hole {
  color: #2980b9; }

.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.faketable {
  margin-top: 20px; }
  .faketable .thead {
    background-color: #eeeeee;
    overflow: hidden; }
    .faketable .thead div {
      color: #333333;
      font-size: 12px;
      font-weight: bold;
      padding-left: 10px;
      line-height: 30px; }
  .faketable .tbody .tr {
    background-color: #f9f9f9;
    height: 38px;
    clear: both; }
    .faketable .tbody .tr div {
      color: #333333;
      font-size: 12.5px;
      padding-left: 10px;
      line-height: 38px; }
  .faketable .tbody .tr:hover {
    background-color: whitesmoke;
    cursor: pointer; }
  .faketable .tbody .expanded {
    clear: both;
    overflow: hidden;
    background-color: #f9f9f9; }
    .faketable .tbody .expanded .expanded-within {
      margin: 20px;
      background-color: white; }
      .faketable .tbody .expanded .expanded-within p {
        padding: 10px; }
      .faketable .tbody .expanded .expanded-within .btn-holder {
        padding: 10px; }
