<head>
    <title>Unifide - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/media/css/bootstrap.css">
    <link rel="stylesheet" href="/media/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/media/css/styles.css">
    <link rel="stylesheet" href="/media/css/campaign.css">
    <link rel="stylesheet" href="/media/css/login.css">
</head>

<body>
    {{> page_controller}}
</body>

<template name="page_controller">
    {{{view}}}
</template>

<template name="page_index">
    {{> header}}
    {{> page_content}}
</template>

<template name="page_content">
    <div class="container">
        {{> menu}}
        {{{view}}}
    </div>
</template>

<template name="header">
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="logo">
                        <a class="appnav" href="/">UNIFIDE</a>
                    </div>
                </div>
                <div class="span3">
                    <div class="cp">{{{username}}} | <span id="logout">LOGOUT</span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="menu">
    <div class="row menu">
        <div class="span12">
            <div class="menubar container-shadow">
                <ul class="inline">
                    <li><span class="welcome">Welcome back</span>, <span class="welcomeuser">{{{username}}}</span><div class="clear"></div></li>
                    {{#each menu_list}}
                    <li class="dropdown"><a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown"><i class="icon-list menuicon"></i>{{first_lvl}}</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            {{#each second_lvl}}
                            {{#if link}}
                            <li><a class="menuitem appnav" role="menuitem" href="{{link}}">{{name}}</a></li>
                            {{else}}
                            <li><div class="divider"></div></li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>