<head>
    <title>Unifide Control Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/media/js/bootbox.min.js"></script>
    <link rel="stylesheet" href="/media/css/bootstrap.css">
    <link rel="stylesheet" href="/media/css/bootstrap-responsive.css">
    <!--<link rel="stylesheet" href="/media/css/styles.css">
    <link rel="stylesheet" href="/media/css/campaign.css">-->
    <link rel="stylesheet" href="/media/css/index.css">
    <link rel="stylesheet" href="/media/css/login.css">
    <link rel="stylesheet" href="/media/css/overview.css">
    <link rel="stylesheet" href="/media/css/account.css">
    <link rel="stylesheet" href="/media/css/facebook.css">
    <link rel="stylesheet" href="/media/css/twitter.css">
    <link rel="stylesheet" href="/media/css/foursquare.css">
</head>

<body>
    {{> page_controller}}
</body>

<template name="page_controller">
    {{{view}}}
</template>

<template name="page_index">
    {{> header}}
    {{{view}}}
</template>

<template name="header">
    <div class="header">
        <a href="/"><div class="logo">UNIFIDE</div></a>
        <ul class="header-nav inline">
            {{#each menu_list}}
            <li class="dropdown"><a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown">{{first_lvl}}<div class="header-nav-chevron pull-right"></div></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    {{#each second_lvl}}
                    {{#if link}}
                    <li><a class="menuitem appnav" role="menuitem" href="{{link}}">{{name}}</a></li>
                    {{else}}
                    <li><div class="divider"></div></li>
                    {{/if}}
                    {{/each}}
                </ul>
            </li>
            {{/each}}
            <li></li>
        </ul>
        <div class="header-user pull-right">
            <div class="dropdown">
                <a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown"><div class="header-settings pull-left"></div> {{{username}}}<img src="/media/img/placeholder_64.png" class="profile-pic"></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                    <li><a class="menuitem appnav" role="menuitem" href="/account/b/{{{selected_brand}}}">Update Account</a></li>
                    <li><div class="divider"></div></li>
                    {{#each brands}}
                    <li><a id="switch-brand" class="menuitem appnav" role="menuitem" href="#"><i class="icon-ok"></i> {{brand_name}}</a></li>
                    {{/each}}
                    {{#if brands}}
                    <li><div class="divider"></div></li>
                    {{/if}}
                    <li><a id="logout" class="menuitem appnav" role="menuitem" href="#">Log out</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>