<head>
    <title>Unifide - Dashboard</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/media/css/bootstrap.css">
    <link rel="stylesheet" href="/media/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/media/css/styles.css">

</head>

<body>
    {{> page_controller}}
</body>

<template name="page_controller">
    {{{view}}}
</template>

<template name="page_index">
    {{> header}}
    {{> page_content}}
</template>

<template name="page_content">
    <div class="container">
        {{> menu}}
        {{{view}}}
    </div>
</template>

<template name="header">
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="logo">
                        <a class="appnav" href="/">UNIFIDE</a>
                    </div>
                </div>
                <div class="span3">
                    <div class="cp">{{{username}}} | <span id="logout">LOGOUT</span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="menu">
    <div class="row menu">
        <div class="span12">
            <div class="menubar container-shadow">
                <ul class="inline">
                    <li><span class="welcome">Welcome back</span>, <span class="welcomeuser">{{{username}}}</span><div class="clear"></div></li>
                    <li class="dropdown"><a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown"><i class="icon-list menuicon"></i>OVERVIEW</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li><a class="menuitem appnav" role="menuitem" href="/">VIEW ALL</a></li>
                            <li><div class="divider"></div></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/facebook">FACEBOOK</a></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/twitter">TWITTER</a></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/foursquare">FOURSQUARE</a></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/brand_mention">BRAND MENTIONS</a></li>
                            <li><div class="divider"></div></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/web_platform">WEBSITE</a></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/ios_platform">iPHONE</a></li>
                            <li><a class="menuitem appnav" role="menuitem" href="/android_platform">ANDROID</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown"><i class="icon-pencil menuicon"></i>CAMPAIGN</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                            <li><a class="menuitem appnav" role="menuitem" href="/campaign/new/status">NEW STATUS UPDATE</a></li>
                            <li><a class="menuitem" role="menuitem" href="/campaign/new/event">NEW EVENT CAMPAIGN</a></li>
                            <li><a class="menuitem" role="menuitem" href="/campaign/new/promo">NEW PROMO CAMPAIGN</a></li>
                            <li><div class="divider"></div></li>
                            <li><a class="menuitem" role="menuitem" href="/campaign">MANAGE CAMPAIGNS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" id="drop3" role="button" data-toggle="dropdown"><i class="icon-th menuicon"></i>MODULES</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li><a class="menuitem" role="menuitem" href="/biz_info">BUSINESS INFORMATION</a></li>
                        <li><a class="menuitem" role="menuitem" href="/reservations">RESERVATIONS</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="menuitem" role="menuitem" href="/items">ITEMS</a></li>
                    </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown"><i class="icon-user menuicon"></i>ACCOUNT</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
                        <li><a class="menuitem" role="menuitem" href="/account">VIEW ACCOUNT DETAILS</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="menuitem" role="menuitem" href="/account/settings">UPDATE SETTINGS</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>