<template name="overview">
    <div class="overview">
        <div class="row">
            <div class="span6">
                <div class="overview-widget">
                    Facebook Overview
                    <table class="table">
                        <thead>
                        <tr>
                            <th>page_id</th>
                            <th>page_name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each facebook_overview}}
                        <tr>
                            <td>{{post.message}}</td>
                            <td>{{comment.text}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td>2222222</td>
                            <td>asdsdasd</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="span6">
                <div class="overview-widget">
                    Twitter Overview
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="overview-widget">
                    Foursquare Overview
                </div>
            </div>
            <div class="span6">
                <div class="overview-widget">
                    Brand Mentions Overview
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <div class="overview-website">
                    Website Overview
                </div>
            </div>
            <div class="span4">
                <div class="overview-mobile">
                    iPhone Overview
                </div>
                <div class="overview-mobile">
                    Android Overview
                </div>
            </div>
        </div>
    </div>
</template>