<template name="search_item_widget">
    <div class="modal hide fade search-widget" id="search-item-modal">
        <div class="modal-header">
            <button id="search-item-widget-close-btn" type="button" class="close">&times;</button>
            <h3>Search item</h3>
        </div>

        <div class="modal-body">
            <form>
                <div class="control-group">
                    <label for="item-search-keyword">To begin, enter an item name or description</label>
                    <input type="text" placeholder="Apple" class="input-block-level" id="item-search-keyword" />
                </div>
            </form>

            {{#isolate}}
            {{#if has_results}}
            <table class="table-hover table-bordered table-striped">
                <caption>
                    <small>
                        Click to select an item
                    </small>
                </caption>
                <tbody>

                    {{#each results}}
                    <tr>
                        <td>
                            {{this.path_lis}} / <span data-item-name="{{this.name}}" data-item-id="{{this.id_str}}" class="select-item pointer belize-hole bold">{{this.name}}</span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
            {{/isolate}}
        </div>
    </div>
</template>

<template name="search_container_widget">
    <div class="modal hide fade search-widget" id="search-container-modal">
        <div class="modal-header">
            <button id="search-container-widget-close-btn" type="button" class="close">&times;</button>
            <h3>Search container</h3>
        </div>

        <div class="modal-body">
            <form>
                <div class="control-group">
                    <label for="container-search-keyword">To begin, enter an container's name or description</label>
                    <input type="text" placeholder="Container B" class="input-block-level" id="container-search-keyword" />
                </div>
            </form>

            {{#isolate}}
            {{#if has_results}}
            <table class="table-hover table-bordered table-striped">
                <caption>
                    <small>
                        Click to select a container
                    </small>
                </caption>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td>
                            <span data-container-name="{{this.name}}" data-container-id="{{this.id_str}}" class="select-container pointer belize-hole bold">{{this.path_lis}}</span>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
            {{/isolate}}
        </div>
    </div>
</template>


<template name="search_user_widget">
    <div class="modal hide fade search-widget" id="search-user-modal">
        <div class="modal-header">
            <button id="search-user-widget-close-btn" type="button" class="close">&times;</button>
            <h3>Search user</h3>
        </div>

        <div class="modal-body">
            <form>
                <div class="control-group">
                    <label for="user-search-keyword">To begin, enter a user's username or email address</label>
                    <input type="text" class="input-block-level" id="user-search-keyword" />
                </div>
            </form>

            {{#isolate}}
            {{#if has_results}}
            <table class="table-hover table-bordered table-striped">
                <caption>
                    <small>
                        Click to select a user
                    </small>
                </caption>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td>
                            {{#if this.has_email_and_username}}
                            <span data-user-email="{{this.email}}" data-user-name="{{this.username}}" data-user-id="{{this.id_str}}" class="select-user pointer belize-hole bold">{{this.username}} / {{this.email}}</span>
                            {{/if}}

                            {{#if this.has_only_email}}
                            <span data-user-email="{{this.email}}" data-user-name="{{this.username}}" data-user-id="{{this.id_str}}" class="select-user pointer belize-hole bold">{{this.email}}</span>
                            {{/if}}

                            {{#if this.has_only_username}}
                            <span data-user-email="{{this.email}}" data-user-name="{{this.username}}" data-user-id="{{this.id_str}}" class="select-user pointer belize-hole bold">{{this.username}}</span>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
            {{/isolate}}
        </div>
    </div>
</template>
