<template name="campaign">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="campaign">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">
                            Campaigns
                        </li>
                        <a href="/campaign/promo/new" class="appnav">
                            <li>
                                <i class="icon-pencil" />
                                New Promo
                            </li>
                        </a>
                        <a href="/campaign/event/new" class="appnav">
                            <li>
                                <i class="icon-calendar" />
                                New Event
                            </li>
                        </a>
                        <a href="/campaign" class="appnav">
                            <li>
                                <i class="icon-th-list" />
                                Manage
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="campaign_promo_new">
    <div class="rendering">
        <div class="campaign-view">
            <div class="campaign-title">
                New Campaign
            </div>
            <div class="campaign-sub-title">
                PROMO CAMPAIGN
            </div>
            <div class="campaign-post-new">
                <input type="hidden" value="promotion" class="campaign-type" />
                <input type="hidden" value="published" class="campaign-state" />
                <div class="campaign-post-category">
                    Platform
                    <a class="pull-right appnav" id="platform-all" href="#">Select all</a>
                </div>
                <div class="platform">
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="facebook">
                        Facebook
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="twitter">
                        Twitter
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="foursquare">
                        Foursquare
                    </label>
                    <br>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="web">
                        Web / Mobile
                    </label>
                    <label class="checkbox inline push">
                        <input type="checkbox" class="platform-check" value="push">
                        Push Notification
                    </label>
                    <br>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="blog">
                        Blog
                    </label>
                </div>
                {{> campaign_promo}}
            </div>
            <div class="campaign-post-submit">
                <a class="btn btn-primary btn-large" id="btn-publish">Publish Now</a>
                <a class="btn btn-large" id="btn-schedule">Schedule Later</a>
                <div tab-index="-1" role="dialog" aria-hidden="true" class="modal hide fade" id="schedule_modal">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                            x
                        </button>
                        <h5>
                            Select date and time to publish
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="campaign-schedule-datetime">
                            <div class="schedule-date pull-left">
                                Event Date
                            </div>
                            <div class="schedule-time pull-left">
                                Time
                            </div>
                            <div class="clear" />
                            <div class="input-append pull-left" id="schedule-date">
                                <input type="text" data-format="yyyy-MM-dd" placeholder="select date" class="campaign-post-date-input-schedule" />
                                <span class="add-on">
                                    <i data-date-icon="icon-calendar">
                                        &nbsp;
                                    </i>
                                </span>
                            </div>
                            <div class="input-append pull-left" id="schedule-time">
                                <input type="text" data-format="hh:mm" placeholder="time to publish" class="campaign-post-time-from-input-schedule pull-left" />
                                <span class="add-on">
                                    <i data-time-icon="icon-time">
                                        &nbsp;
                                    </i>
                                </span>
                            </div>
                            <div class="clear" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn">
                            Close
                        </button>
                        <button class="btn btn-info" id="btn-schedule-modal">
                            Schedule Campaign
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="campaign_event_new">
    <div class="rendering">
        <div class="campaign-view">
            <div class="campaign-title">
                New Campaign
            </div>
            <div class="campaign-sub-title">
                EVENT CAMPAIGN
            </div>
            <div class="campaign-post-new">
                <input type="hidden" value="event" class="campaign-type" />
                <input type="hidden" value="published" class="campaign-state" />
                <div class="campaign-post-category">
                    Platform
                    <a class="pull-right appnav" id="platform-all" href="#">Select all</a>
                </div>
                <div class="platform">
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="facebook">
                        Facebook
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="twitter">
                        Twitter
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="foursquare">
                        Foursquare
                    </label>
                    <br>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="web">
                        Web / Mobile
                    </label>
                    <label class="checkbox inline push">
                        <input type="checkbox" class="platform-check" value="push">
                        Push Notification
                    </label>
                    <br>
                    <label class="checkbox inline">
                        <input type="checkbox" class="platform-check" value="blog">
                        Blog
                    </label>
                </div>
                {{> campaign_event}}
            </div>
            <div class="campaign-post-submit">
                <a class="btn btn-primary btn-large" id="btn-publish">Publish Now</a>
                <a class="btn btn-large" id="btn-schedule">Schedule Later</a>
                <div tab-index="-1" role="dialog" aria-hidden="true" class="modal hide fade" id="schedule_modal">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                            x
                        </button>
                        <h5>
                            Select date and time to publish
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="campaign-schedule-datetime">
                            <div class="schedule-date pull-left">
                                Event Date
                            </div>
                            <div class="schedule-time pull-left">
                                Time
                            </div>
                            <div class="clear" />
                            <div class="input-append pull-left" id="schedule-date">
                                <input type="text" data-format="yyyy-MM-dd" placeholder="select date" class="campaign-post-date-input-schedule" />
                                <span class="add-on">
                                    <i data-date-icon="icon-calendar">
                                        &nbsp;
                                    </i>
                                </span>
                            </div>
                            <div class="input-append pull-left" id="schedule-time">
                                <input type="text" data-format="hh:mm" placeholder="time to publish" class="campaign-post-time-from-input-schedule pull-left" />
                                <span class="add-on">
                                    <i data-time-icon="icon-time">
                                        &nbsp;
                                    </i>
                                </span>
                            </div>
                            <div class="clear" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn">
                            Close
                        </button>
                        <button class="btn btn-info" id="btn-schedule-modal">
                            Schedule Campaign
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="campaign_list">
    <div class="rendering">
        <div class="main-title">
            <h4>
                Campaigns List
            </h4>
        </div>



        <div class="clear" />
        <div class="spacing20" />
        <div class="base-buttons pull-left">
            <button class="btn" id="select-all">
                <i class="icon-ok" />
                Select All
            </button>
            <button class="btn expand-all">
                <i class="icon-arrow-down" />
                Expand All
            </button>
        </div>
        <div class="selected-buttons pull-left">
            <button class="btn delete-campaign">
                <i class="icon-trash" />
            </button>
        </div>
        <div class="clear" />
        <table class="table-hover campaign-manage">
            <thead>
                <tr>
                    <td>
                        Campaigns ({{total}})
                        <i class="icon-chevron-right pull-right icon-nav page-next" />
                        <div class="pull-right">
                            {{list_page}}
                        </div>
                        <i class="icon-chevron-left pull-right icon-nav page-back" />
                    </td>
                </tr>
            </thead>

            <tbody>
                {{#each campaigns}}
                <tr>
                    <td>
                        <div class="selection pull-left">
                            <input type="checkbox" value="{{id}}" class="campaign-id select-campaign" />
                        </div>
                        <a data-toggle="collapse" data-target="#{{id}}">
                            <div class="state pull-left">
                                {{{state}}}
                            </div>
                            <div class="type pull-left">
                                {{type}}
                            </div>
                            <div class="platform pull-left">
                                {{{platforms}}}
                                <div class="clear" />
                            </div>
                            <div class="title-content pull-left">
                                {{{title}}}
                            </div>
                            <div class="created pull-right">
                                {{created}}
                            </div>
                            <div class="clear" />
                        </a>
                        <div class="collapse" id="{{id}}">
                            <div class="spacing10" />
                            <div class="expanded">
                                {{{expanded}}}
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
                <div tab-index="-1" role="dialog" aria-hidden="true" class="modal hide fade" id="edit_campaign_modal">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                            x
                        </button>
                        <h5>
                            Edit Campaign
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="edit-campaign">
                            <div class="social-limitation">
                                Campaign edits will only be reflected on your <strong>website</strong>, <strong>blogs</strong> and <strong>Facebook events</strong> due to social network limitations
                            </div>
                            {{{edit_campaign}}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn">
                            Close
                        </button>
                        <button class="btn btn-info" id="btn-edit-modal">
                            Update
                        </button>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</template>

<template name="campaign_promo">
    <div class="campaign-post-category">
        Title
    </div>
    <textarea placeholder="enter a title" id="campaign-title" />
    <div class="char-count">
        0 characters
    </div>
    <div class="campaign-post-category">
        Description
    </div>
    <textarea placeholder="enter message" id="desc-editor" />
</template>

<template name="campaign_event">
    <div class="campaign-post-date pull-left">
        Event Date
    </div>
    <div class="campaign-post-time pull-left">
        Time
    </div>
    <div class="clear" />
    <div class="campaign-post-datetime">
        <div class="input-append pull-left" id="event-date">
            <input type="text" data-format="yyyy-MM-dd" placeholder="select date" class="campaign-post-date-input" />
            <span class="add-on">
                <i data-date-icon="icon-calendar">
                    &nbsp;
                </i>
            </span>
        </div>
        <div class="input-append pull-left" id="event-time-start">
            <input type="text" data-format="hh:mm" placeholder="start time" class="campaign-post-time-from-input pull-left" />
            <span class="add-on">
                <i data-time-icon="icon-time">
                    &nbsp;
                </i>
            </span>
        </div>
        <div class="campaign-post-to pull-left">
            to
        </div>
        <div class="input-append pull-left" id="event-time-end">
            <input type="text" data-format="hh:mm" placeholder="end time" class="campaign-post-time-to-input pull-left" />
            <span class="add-on">
                <i data-time-icon="icon-time">
                    &nbsp;
                </i>
            </span>
        </div>
        <div class="clear" />
    </div>
    <div class="campaign-post-category">
        Title
    </div>
    <textarea placeholder="enter a title" id="campaign-title" />
    <div class="char-count">
        0 characters
    </div>
    <div class="campaign-post-category">
        Description
    </div>
    <textarea placeholder="enter message" id="desc-editor" />
</template>
