<template name="campaign">
    <div class="campaign container-shadow">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span2">
                        <div class="campaign-nav">
                            <div class="campaign-title">Campaigns</div>
                            <div class="campaign-grey-title">New campaign</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li><a class="appnav" href="/campaign/new/promo">Promo Campaign</a></li>
                                <li><a class="appnav" href="/campaign/new/event">Event Campaign</a></li>
                            </ul>
                            <div class="campaign-grey-title">Manage campaigns</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li class="active"><a class="appnav" href="/campaign">All Campaigns<div class="pull-right">{{{all_campaigns_count}}}</div></a></li>
                                <li><a class="appnav" href="/campaign/draft">Drafts<div class="pull-right">2</div></a></li>
                                <li><a class="appnav" href="/campaign/scheduled">Scheduled<div class="pull-right">4</div></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span10">
                        {{{view}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="campaign_list">
<div class="campaign-content">
    <div class="campaign-title">
        All Campaigns
    </div>
    <div class="campaign-search-box">
        <div class="control-groups">
            <div class="input-prepend">
                <span class="add-on">Keywords</span>
                <input class="span6" id="campaign-search" type="text" placeholder="Search for a campaign">
            </div>
        </div>
    </div>
    <div class="campaign-list-title">
        Campaigns
    </div>
    <div class="campaign-list">
        <ul class="nav nav-pills">
            {{#each campaigns_list}}
            <li>
                {{campaign.title}} | {{campaign.description}}
            </li>
            {{/each}}
            <!--<li>
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object img-rounded" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                        </div>
                        <div class="media-body">
                            <strong>The standard Lorem Ipsum passage, used since the 1500s</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object img-rounded" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                        </div>
                        <div class="media-body">
                            <strong>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  ...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object img-rounded" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                        </div>
                        <div class="media-body">
                            <strong>The standard Lorem Ipsum passage, used since the 1500s</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object img-rounded" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                        </div>
                        <div class="media-body">
                            <strong>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  ...</p>
                        </div>
                    </div>
                </a>
            </li>-->
        </ul>
    </div>
</div>
</template>

<template name="campaign_new_promo">
<div class="campaign-content">
    <div class="campaign-title">New Promo Campaign</div>
    <div class="campaign-section2 container-shadow2">
        <div class="campaign-section2-title">
            Platforms
        </div>
        <div class="campaign-section2-body">
            Facebook
        </div>
    </div>
    <div class="campaign-section2 container-shadow2">
        <div class="campaign-section2-title">
            Content
        </div>
        <div class="campaign-section2-body">
            title
        </div>
    </div>
    <div class="campaign-publish">
        <ul class="unstyled inline campaign-publish-submit">
            <li><a href="#" class="btn btn-danger disabled">PUBLISH NOW</a></li>
            <li><a href="#" class="btn disabled">Save Draft</a></li>
            <li><a href="#" class="btn disabled">Schedule Later</a></li>
        </ul>
    </div>

    <div class="campaign-section"><div class="campaign-section-title campaign-section-title3">Platforms</div></div>
    <div class="campaign-platform campaign-section-spacing">
        <label class="checkbox inline">
            <input type="checkbox" id="platform-facebook" value="platform-facebook">
            Facebook
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-twitter" value="platform-twitter">
            Twitter
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-foursquare" value="platform-foursquare">
            Foursquare
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-web" value="platform-web">
            Web
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-ios" value="platform-ios">
            iOS
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-android" value="platform-android">
            Android
        </label>
    </div>
    <div class="campaign-section"><div class="campaign-section-title campaign-section-title3">Content</div></div>
    <div class="campaign-post campaign-section-spacing">
        <form class>
            <div class="row">
                <div class="span9">
                    <div class="control-group">
                        <label class="control-label campaign-post-header" for="contentTitle">title</label>
                        <div class="controls">
                            <input class="span9" type="text" id="contentTitle" placeholder="enter a title">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label campaign-post-header" for="contentDescription">description</label>
                        <div class="controls">
                            <textarea class="span9" type="text" rows="3" id="contentDescription" placeholder="enter a description"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label campaign-post-header" for="contentMedia">photo/video</label>
                        <div class="controls">
                            <div id="contentMedia" class="select-image text-center">select a photo/video</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <div class="control-group">
                                <label class="control-label campaign-post-header" for="contentDate">date</label>
                                <div class="controls">
                                    <input class="span2" type="text" id="contentDate" placeholder="select a date">
                                </div>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="control-group">
                                <label class="control-label campaign-post-header" for="contentTime">time</label>
                                <div class="controls">
                                    <input class="span2" type="text" id="contentTime" placeholder="select a time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label campaign-post-header" for="contentPlace">place</label>
                        <div class="controls">
                            <input class="span4" type="text" id="contentPlace" placeholder="enter a place">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="campaign-publish">
        <ul class="unstyled inline campaign-publish-submit">
            <li><a href="#" class="btn btn-danger disabled">PUBLISH NOW</a></li>
            <li><a href="#" class="btn disabled">Save Draft</a></li>
            <li><a href="#" class="btn disabled">Schedule Later</a></li>
        </ul>
    </div>
</div>
</template>

<template name="campaign_new_event">
<div class="campaign-content">
    <div class="campaign-title">
        New Event Campaign
    </div>
    <div class="campaign-section3-title">
        Platforms
    </div>
    <div class="campaign-section3-body">
        <label class="checkbox inline">
            <input type="checkbox" id="platform-facebook" value="platform-facebook">
            Facebook
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-twitter" value="platform-twitter">
            Twitter
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-foursquare" value="platform-foursquare">
            Foursquare
        </label>
        <div class="pull-right">
            <label class="checkbox inline">
                <input type="checkbox" id="platform-all" value="platform-all">
                Select all
            </label>
        </div>
        <br>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-campaign" value="platform-web">
            Web/Mobile
        </label>
        <label class="checkbox inline checkbox-push">
            <input type="checkbox" id="platform-push" value="platform-ios">
            Push Notification (*Web/Mobile required)
        </label>
        <br>
        <label class="checkbox inline">
            <input type="checkbox" id="platform-web-blog" value="platform-web-blog">
            Blog
        </label>
    </div>
    <div class="campaign-section3-title">
        Content
    </div>
    <div class="control-group">
        <label class="control-label campaign-post-header" for="contentTitle">Title</label>
        <div class="controls">
            <textarea class="campaign-section3-input" type="text" rows="3" id="contentTitle" placeholder="Enter a title or description"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label campaign-post-header" for="contentDescription">Description</label>
        <div class="controls">
            <textarea class="campaign-section3-input" type="text" rows="3" id="contentDescription" placeholder="Enter a description"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label campaign-post-header">Upload photo/video</label>
        <div class="controls">
            <ul class="inline">
                <li>
                    <div class="campaign-section3-image inline"><a href="">Add a photo/video from items gallery</a></div>
                </li>
                <li>
                    <div class="campaign-section3-image inline"><a href="">Upload a new photo/video</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="control-group">
        <ul class="inline">
            <li>
                <label class="control-label campaign-post-header">Date</label>
                <div class="controls">
                    <input class="campaign-section3-input2" type="text" id="contentDate" placeholder="Select a date">
                </div>
            </li>
            <li>
                <label class="control-label campaign-post-header">Time</label>
                <div class="controls">
                    <input class="campaign-section3-input2" type="text" id="contentTime" placeholder="Select a time">
                </div>
            </li>
        </ul>
    </div>
    <div class="control-group">
        <label class="control-label campaign-post-header" for="contentPlace">Place</label>
        <div class="controls">
            <input class="campaign-section3-input" type="text" id="contentPlace" placeholder="Enter a place">
        </div>
    </div>
    <div class="campaign-publish">
        <ul class="unstyled inline campaign-publish-submit">
            <li><a href="#" class="btn btn-danger disabled">PUBLISH NOW</a></li>
            <li><a href="#" class="btn disabled">Save Draft</a></li>
            <li><a href="#" class="btn disabled">Schedule Later</a></li>
        </ul>
    </div>
</div>
</template>