<template name="campaign">
    <div class="campaign container-shadow">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="campaign-nav">
                            <div class="campaign-title">Campaigns</div>
                            <div class="campaign-grey-title">Choose a campaign to create</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li><a href="/campaign/new/status">Status Updates</a></li>
                                <li><a href="#">Events Campaign</a></li>
                                <li><a href="#">Promotional Campaign</a></li>
                            </ul>
                            <div class="campaign-grey-title">Manage campaigns</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li class="active"><a href="#">All Campaigns<div class="pull-right">12</div></a></li>
                                <li><a href="#">Status Updates<div class="pull-right">8</div></a></li>
                                <li><a href="#">Events Campaign<div class="pull-right">4</div></a></li>
                                <li><a href="#">Promotional Campaign<div class="pull-right">0</div></a></li>
                            </ul>
                            <div class="campaign-grey-title">Recent Campaigns</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills campaign-recent">
                                <li><a href="#"><strong>The standard Lorem Ipsum passage, used since the 1500s</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p></a></li>
                                <li><a href="#"><strong>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  ...</p></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="campaign-content">
                            <div class="campaign-title">
                                All Campaigns
                            </div>
                            <div class="campaign-search-box">
                                <div class="control-groups">
                                    <div class="input-prepend">
                                        <span class="add-on">Keywords</span>
                                        <input class="span6" id="campaign-search" type="text" placeholder="Search for a campaign">
                                    </div>
                                </div>
                            </div>
                            <div class="campaign-list-title">
                                Campaigns
                            </div>
                            <div class="campaign-list">
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="#">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="media-object" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                                        </div>
                                        <div class="media-body">
                                            <strong>The standard Lorem Ipsum passage, used since the 1500s</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="media-object" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                                        </div>
                                        <div class="media-body">
                                            <strong>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  ...</p>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                                            </div>
                                            <div class="media-body">
                                                <strong>The standard Lorem Ipsum passage, used since the 1500s</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="media-object" style="width: 64px; height: 64px;" src="/media/img/placeholder_64.png">
                                            </div>
                                            <div class="media-body">
                                                <strong>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  ...</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="campaign_new_status">
    <div class="campaign container-shadow">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="campaign-nav">
                            <div class="campaign-title">Campaigns</div>
                            <div class="campaign-grey-title">Choose a campaign to create</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li class="active"><a href="#">Status Updates</a></li>
                                <li><a href="#">Events Campaign</a></li>
                                <li><a href="#">Promotional Campaign</a></li>
                            </ul>
                            <div class="campaign-grey-title">Manage campaigns</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li><a href="/campaign">All Campaigns<div class="pull-right">12</div></a></li>
                                <li><a href="#">Status Updates<div class="pull-right">8</div></a></li>
                                <li><a href="#">Events Campaign<div class="pull-right">4</div></a></li>
                                <li><a href="#">Promotional Campaign<div class="pull-right">0</div></a></li>
                            </ul>
                            <div class="campaign-grey-title">Recent Campaigns</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills campaign-recent">
                                <li><a href="#"><strong>The standard Lorem Ipsum passage, used since the 1500s</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p></a></li>
                                <li><a href="#"><strong>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem  ...</p></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="campaign-content">
                            <div class="campaign-title">New Status Update</div>
                            <div class="campaign-publish">
                                <ul class="unstyled inline campaign-publish-submit">
                                    <li><a href="#" class="btn btn-danger disabled">PUBLISH NOW</a></li>
                                    <li><a href="#" class="btn disabled">Save Draft</a></li>
                                    <li><a href="#" class="btn disabled">Schedule Later</a></li>
                                </ul>
                            </div>
                            <div class="campaign-compose-box">
                                <div class="campaign-section"><div class="campaign-section-title campaign-section-title3">Campaign Type</div></div>
                                <div class="campaign-type campaign-section-spacing">
                                    <label class="radio inline">
                                        <input type="radio" name="campaignType" id="campaign-type-status" value="type-status" checked>
                                        Status Update
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="campaignType" id="campaign-type-event" value="type-event">
                                        Events Campaign
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="campaignType" id="campaign-type-promo" value="type-promo">
                                        Promotional Campaign
                                    </label>
                                </div>
                                <div class="campaign-section"><div class="campaign-section-title campaign-section-title3">Platforms</div></div>
                                <div class="campaign-platform campaign-section-spacing">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="platform-facebook" value="platform-facebook">
                                        Facebook
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="platform-twitter" value="platform-twitter">
                                        Twitter
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="platform-foursquare" value="platform-foursquare">
                                        Foursquare
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="platform-web" value="platform-web">
                                        Web
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="platform-ios" value="platform-ios">
                                        iOS
                                    </label>
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="platform-android" value="platform-android">
                                        Android
                                    </label>
                                </div>
                                <div class="campaign-section"><div class="campaign-section-title campaign-section-title3">Content</div></div>
                                <div class="campaign-post campaign-section-spacing">
                                    <form class>
                                        <div class="row">
                                            <div class="span4">
                                                <div class="control-group">
                                                    <label class="control-label campaign-post-header" for="contentTitle">title</label>
                                                    <div class="controls">
                                                        <input class="span4" type="text" id="contentTitle" placeholder="enter a title">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label campaign-post-header" for="contentDescription">description</label>
                                                    <div class="controls">
                                                        <textarea class="span4" type="text" rows="3" id="contentDescription" placeholder="enter a description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="span2">
                                                        <div class="control-group">
                                                            <label class="control-label campaign-post-header" for="contentDate">date</label>
                                                            <div class="controls">
                                                                <input class="span2" type="text" id="contentDate" placeholder="select a date">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="span2">
                                                        <div class="control-group">
                                                            <label class="control-label campaign-post-header" for="contentTime">time</label>
                                                            <div class="controls">
                                                                <input class="span2" type="text" id="contentTime" placeholder="select a time">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span4">
                                                <div class="control-group">
                                                    <label class="control-label campaign-post-header" for="contentMedia">photo/video</label>
                                                    <div class="controls">
                                                        <div id="contentMedia" class="select-image text-center">select a photo/video</div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label campaign-post-header" for="contentPlace">place</label>
                                                    <div class="controls">
                                                        <input class="span4" type="text" id="contentPlace" placeholder="enter a place">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>