<template name="coupon">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/coupon" class="appnav anchor-container">
                            <li class="side-header">Coupons</li>
                        </a>
                        <a href="/coupon" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">w</span> All coupons</li>
                        </a>
                        <a href="/coupon/new" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">+</span> New coupon</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="coupon_all">
    <div class="right-container">
        <div class="container-title">
            <h2>
                All coupons
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="btn-holder btn-after-main-desc">
            <a href="/coupon/new" class="appnav btn">
                <span class="heydings">+</span>
                New coupon
            </a>
        </div>

        <div class="campaign">
            <div class="faketable">
                <div class="thead">
                    <div class="span2">
                        Name
                    </div>
                    <div class="span2">
                        Coupon code
                    </div>
                    <div class="span2">
                        Coupon Value
                    </div>
                    <div class="span2">
                        Percentage
                    </div>
                    <div class="span2">
                        Can be used
                    </div>
                    <div class="span2">
                        Status
                    </div>
                </div>
                <div class="tbody">
                    {{#each coupons}}
                    <div data-expand="{{this.id}}" class="tr pointer obj-row">
                        <div class="span2">
                            {{this.name}}&nbsp;
                        </div>
                        <div class="span2">
                            {{this.coupon_code}}&nbsp;
                        </div>
                        <div class="span2">
                            {{this.coupon_value}}&nbsp;
                        </div>
                        <div class="span2">
                            {{this.coupon_percentage_off}}&nbsp;
                        </div>
                        <div class="span2">
                            {{this.valid_times}} time(s)
                        </div>
                        <div class="span2">
                            {{this.status}}&nbsp;
                        </div>
                    </div>
                    <div data-expanded="{{this.id}}" class="expanded">
                        <div class="expanded-within">
                            {{#if this.description}}
                            <blockquote>
                                {{this.description}}
                            </blockquote>
                            {{/if}}
                            <p>
                                <small>
                                    {{{this.item_scope_desc}}}<br>
                                    And it can be used by <strong>all users</strong>.<br>
                                    {{{this.min_order}}}<br>
                                    {{{this.duration_desc}}}<br>
                                </small>
                            </p>
                            <hr />
                            <div class="btn-holder">
                                <a class="btn btn-primary adjust-valid-times">
                                    <span class="heydings">+</span>
                                    Adjust number of times it is valid for
                                </a>

                                {{#if this.has_disable_btn}}
                                <a class="btn disable-coupon">
                                    <span class="heydings">r</span>
                                    Disable
                                </a>
                                {{else}}
                                <a class="btn enable-coupon">
                                    <span class="heydings">r</span>
                                    Enable
                                </a>
                                {{/if}}


                                <a class="btn delete-coupon">
                                    <span class="heydings">-</span>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="thead">
                    <div class="pull-right">
                        {{#if has_next}}
                        <a href="{{next_page_url}}" class="appnav">
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                        </a>
                        {{/if}}
                        <div class="pull-right">
                            &nbsp;&nbsp;&nbsp;{{current_page}}&nbsp;&nbsp;&nbsp;
                        </div>
                        {{#if has_prev}}
                        <a href="{{prev_page_url}}" class="appnav">
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<Template name="coupon_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="coupon-compose-form">
            <legend>New Coupon</legend>
            <fieldset>

                <div class="control-group">
                    <label for="name">Give a name to this coupon</label>
                    <input type="text" placeholder="Item A" name="name" data-required="true" data-focus="first" id="name" />
                </div>

                <div class="control-group">
                    <label id="description">Describe the coupon</label>
                    <textareadescription rows="3" name="description" />
                </div>

                <hr />
                <p class="lead">
                    In this next section, describe on what it is applicable on
                </p>

                <div class="control-group">
                    <label for="applicable-on">On what is it applicable on?</label>
                    <select name="applicable-on" id="applicable-on">
                        <option value="all">All of my inventory</option>
                        <option value="item">Specific item</option>
                        <option value="container">A Container</option>
                    </select>
                </div>

                <div class="control-group hidden" id="select-item">
                    <label for="item-id">Applicable Item</label>
                    <input type="text" placeholder="Item A" name="item-id" id="item-id" />
                </div>

                <div class="control-group hidden" id="select-container">
                    <label for="container-id">Applicable Container</label>
                    <input type="text" placeholder="Container B" name="container-id" id="container-id" />
                </div>

                <div class="control-group">
                    <label for="coupon-code">Unique coupon code</label>
                    <input type="text" placeholder="ABCDE" name="coupon-code" data-required="true" id="coupon-code" />
                </div>

                <hr />
                <p class="lead">
                    How much of a coupon? Specify either a coupon amount or percentage.
                </p>

                <div class="control-group">
                    <label for="coupon-type">Coupon type</label>
                    <select name="coupon-type" id="coupon-type">
                        <option value="percentage">Percentage (%)</option>
                        <option value="absolute">Absolute amount ($)</option>
                    </select>
                </div>

                <div class="control-group">
                    <label for="amount">Amount / Percentage</label>
                    <input type="number" placeholder="5" name="amount" data-required="true" id="amount" />
                </div>

                <div class="control-group">
                    <label for="min-spending">Minimum spending on order for coupon to be valid ($)</label>
                    <input type="number" placeholder="50" name="min-spending" data-required="true" id="min-spending" />
                </div>

                <hr />
                <p class="lead">
                    Does this coupon have any conditions?
                </p>

                <div class="control-group">
                    <label for="valid-times">Number of times this coupon can be used</label>
                    <input type="number" placeholder="1" name="valid-times" data-required="true" value="1" id="valid-times" />
                </div>

                <div class="control-group">
                    <label for="lifetime-type">Duration</label>
                    <select name="lifetime-type" id="lifetime-type">
                        <option value="forever">Until I disable it</option>
                        <option value="duration">I will select the discount duration</option>
                    </select>
                </div>

                <div class="control-group hidden date-selectors input-append">
                    <label for="begins-on">Begins on</label>
                    <input type="text" name="begins-on" data-format="dd/MM/yyyy" id="begins-on" />
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" class="icon-calendar">
                            &nbsp;
                        </i>
                    </span>
                </div>

                <div class="control-group hidden date-selectors input-append">
                    <label for="ends-on">Ends on</label>
                    <input type="text" name="ends-on" data-format="dd/MM/yyyy" id="ends-on" />
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" class="icon-calendar">
                            &nbsp;
                        </i>
                    </span>
                </div>

                <div class="control-group">
                    <label for="user-applicable">Applicable on which users?</label>
                    <select name="user-applicable" id="user-applicable">
                        <option value="all_users">All users</option>
                        <option value="group">A user group</option>
                        <option value="specific_user">Specific user</option>
                    </select>
                </div>

                <div class="control-group hidden select-user-grp">
                    <label for="user-groups">
                        Which user group?
                        <p>
                            <small>
                                <i>Hold CTRL key or ⌘ to select individual blacklists, or hold the SHIFT key to select them together.</i>
                            </small>
                        </p>
                    </label>
                    <select multiple id="user-groups">
                        {{#each groups}}
                        <option value="{{this.name}}">{{this.description}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="control-group hidden select-specific-user">
                    <label for="user">Select user</label>
                    <input type="text" name="user" id="user" />
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn">Save coupon</button>
                    <a href="/coupon" class="appnav btn-large btn submit-btn">Back to All coupons</a>
                </div>
            </fieldset>
        </form>
    </div>
</Template>
