<template name="discount">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/discount" class="appnav anchor-container">
                            <li class="side-header">Discounts</li>
                        </a>
                        <a href="/discount" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">w</span> All Discounts</li>
                        </a>
                        <a href="/discount/new" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">+</span> New Discount</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="discount_all">
    <div class="right-container">
        <div class="container-title">
            <h2>
                All Discounts
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="btn-holder btn-after-main-desc">
            <a href="/discount/new" class="btn appnav">
                <span class="heydings">+</span>
                New Discount
            </a>
        </div>

        <div class="campaign">
            <div class="faketable">
                <div class="thead">
                    <div class="span2">
                        Name
                    </div>
                    <div class="span4">
                        Description
                    </div>
                    <div class="span2">
                        Discount percentage
                    </div>
                    <div class="span2">
                        Discount Value
                    </div>
                    <div class="span2">
                        Status
                    </div>
                </div>
                <div class="tbody">
                    {{#each discounts}}
                    <div data-expand="{{this.id}}" class="tr pointer discount-obj-row">
                        <div class="span2">
                            <strong>{{this.name}}</strong>
                        </div>
                        <div class="span4">
                            {{this.description}}
                        </div>
                        <div class="span2">
                            - {{this.discount_percentage}}%
                        </div>
                        <div class="span2">
                            - ${{this.absolute_discounted_price}}
                        </div>
                        <div class="span2">
                            {{this.status}}
                        </div>
                    </div>
                    <div data-expanded="{{this.id}}" class="expanded hidden">
                        <div class="expanded-within">
                            <p>
                                <small>
                                    {{{this.item_scope_desc}}}
                                    {{{this.duration_desc}}}
                                    {{{this.min_order}}}
                                </small>
                            </p>
                            <hr />
                            <div class="btn-holder">
                                <!--
                                <a class="btn btn-primary" id="update-discount">
                                    <span class="heydings">+</span>
                                    Update
                                </a>
                                -->
                                {{#if this.has_disable_btn}}
                                <a class="btn btn-info" id="disable-discount">
                                    <span class="heydings">r</span>
                                    Disable
                                </a>
                                {{/if}}
                                {{#if this.has_enable_btn}}
                                <a class="btn btn-primary" id="enable-discount">
                                    <span class="heydings">r</span>
                                    Enable
                                </a>
                                {{/if}}
                                <a class="btn" id="delete-discount">
                                    <span class="heydings">-</span>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="thead">
                    <div class="pull-right">
                        {{#if has_next}}
                        <a href="{{next_page_url}}" class="appnav">
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                        </a>
                        {{/if}}
                        <div class="pull-right">
                            &nbsp;&nbsp;&nbsp;{{current_page}}&nbsp;&nbsp;&nbsp;
                        </div>
                        {{#if has_prev}}
                        <a href="{{prev_page_url}}" class="appnav">
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<Template name="discount_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="discount-compose-form">
            <legend>New Discount</legend>
            <fieldset>

                <div class="control-group">
                    <label for="discount-name">Give a name to this Discount</label>
                    <input type="text" placeholder="Discount A" name="name" data-required="true" data-focus="first" id="discount-name" />
                </div>

                <div class="control-group">
                    <label for="description">Give a description for this discount</label>
                    <textarea rows="3" name="description" id="description" />
                </div>

                <hr />
                <p class="lead">
                    In this section, describe on what it is applicable on
                </p>

                <div class="control-group">
                    <label for="applicable-on">On what is it applicable on?</label>
                    <select name="applicable-on" id="applicable-on">
                        <option value="all">All of my inventory</option>
                        <option value="item">Specific item</option>
                        <option value="container">A Container</option>
                    </select>
                </div>

                <div class="control-group hidden" id="discount-select-item">
                    <label for="discount-item-id">Discounted item</label>
                    <input type="text" placeholder="Item A" name="discount-item-id" id="discount-item-id" />
                </div>

                <div class="control-group hidden" id="discount-select-container">
                    <label for="discount-container-id">Discounted container</label>
                    <input type="text" placeholder="Container B" name="discount-container-id" id="discount-container-id" />
                </div>

                <hr />
                <p class="lead">
                    How much of a discount? Specify if it is an absolute price off or a percentage off
                </p>

                <div class="control-group">
                    <label for="discount-type">Discount type</label>
                    <select name="applicable-on" id="discount-type">
                        <option value="percentage">Percentage (%)</option>
                        <option value="absolute">Absolute amount ($)</option>
                    </select>
                </div>

                <div class="control-group">
                    <label for="amount">Discount amount</label>
                    <input type="number" placeholder="5" name="amount" data-required="true" id="amount" />
                </div>

                <div class="control-group">
                    <label for="min-spending">Order minimum spending ($)</label>
                    <input type="number" placeholder="50" name="min-spending" data-required="true" id="min-spending" />
                </div>

                <hr />
                <p class="lead">
                    Does this discount have any conditions?
                </p>

                <div class="control-group">
                    <label for="discount-lifetime-type">Duration</label>
                    <select name="discount-lifetime-type" id="discount-lifetime-type">
                        <option value="forever">Until I disable it</option>
                        <option value="duration">I will select the discount duration</option>
                    </select>
                </div>

                <div class="control-group hidden date-selectors input-append">
                    <label for="begins-on">Begins on</label>
                    <input type="text" name="begins-on" data-format="dd/MM/yyyy" id="begins-on" />
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" class="icon-calendar">
                            &nbsp;
                        </i>
                    </span>
                </div>

                <div class="control-group hidden date-selectors input-append">
                    <label for="ends-on">Ends on</label>
                    <input type="text" name="ends-on" data-format="dd/MM/yyyy" id="ends-on" />
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" class="icon-calendar">
                            &nbsp;
                        </i>
                    </span>
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn" id="save-discount-btn">Save Discount</button>
                    <a href="/discount" class="appnav btn-large btn submit-btn">Back to All Discounts</a>
                </div>
            </fieldset>
        </form>
    </div>
</Template>
