<template name="brand_mention">
    <div class="campaign container-shadow">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span2">
                        <div class="campaign-nav">
                            <div class="campaign-title">Brand Mention</div>
                            <div class="campaign-grey-title">Manage mention</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li class="active"><a class="appnav" href="/brand-mention">All mentions<div class="pull-right">12</div></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span10">
                        {{{view}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="brand_mention_list">
    <div class="campaign-content">
        <div class="campaign-title">
            All Mention
        </div>
    </div>
</template>