<template name="brand-mention">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="brand-mention">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">
                            Brand Mention
                        </li>
                        <li>
                            Mention activity
                        </li>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="mention_list">
        Mention activity
</template>
