<template name="facebook">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="facebook">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">
                            Facebook
                        </li>
                        <a href="/facebook/page/activity" class="appnav">
                            <li>
                                <i class="icon-th-list" />
                                Page activity
                            </li>
                        </a>
                        <!--a.appnav href="/facebook/event/activity"
                            <li>
                                <i class="icon-th-list" />
                                Events activity-->
                            </li>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="facebook_page_activity">
    <div class="main-title">
        <h4>
            Page activity
        </h4>
    </div>

    <div class="input-append">
        <input class="search-input" type="text">
        <button type="button" class="btn">
            Search
        </button>
    </div>

    {{#if check_facebook}}
    <table class="table table-hover table-striped" id="overview-facebook">
        <thead>
            <tr>
                <td colspan="2">
                    Activity ({{total}})
                    <i class="icon-chevron-right pull-right icon-nav page-next" />
                    <div class="pull-right">
                        {{activity_page}}
                    </div>
                    <i class="icon-chevron-left pull-right icon-nav page-back" />
                </td>
            </tr>
        </thead>
        <tbody>
            {{#each activity_list}}
                <tr>
                    <td class="facebook-profile-pic">
                        <a href="http://www.facebook.com/profile.php?id={{uid}}" onclick="window.open(this.href,'_blank');return false;"><img class="img-rounded" src="http://graph.facebook.com/{{uid}}/picture"></a>
                    </td>
                    <td>
                        <div class="facebook-profile-name pull-left">
                            {{name}}&nbsp;
                        </div>
                        {{message}}
                        <div class="clear" />
                        <div class="facebook-post-time pull-left">
                            {{datetime}}
                        </div>
                        <a href="{{link}}" onclick="window.open(this.href,'_blank');return false;" class="facebook-view-post pull-right">
                            View {{type}}
                        </a>
                        <div class="clear" />
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="no-data">
            No Facebook page activity available.
        </div>
    {{/if}}
</template>


<template name="facebook_event_activity">
    <div class="main-title">
        <h4>
            Event activity
        </h4>
    </div>

    <div class="input-append">
        <input class="search-input" type="text">
        <button type="button" class="btn">
            Search
        </button>
    </div>

    {{#if check_facebook}}
    <table class="table table-hover table-striped" id="overview-facebook">
        <thead>
            <tr>
                <td colspan="2">
                    Activity ({{total}})
                </td>
            </tr>
        </thead>
        tbody
    </table>

    {{else}}
        <div class="no-data">
            No Facebook event activity available.
        </div>
    {{/if}}
</template>
