<template name="foursquare">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="foursquare">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">
                            Foursquare
                        </li>
                        <li>
                            Venue activity
                        </li>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="foursquare_venue_activity">
    <div class="main-title">
        <h4>
            Venue activity
        </h4>
    </div>

    <div class="input-append">
        <input class="search-input" type="text">
        <button type="button" class="btn">
            Search
        </button>
    </div>

    <table class="table-striped table-hover">
        <thead>
            <tr>
                <td colspan="3">
                    Activity
                </td>
            </tr>
        </thead>
        <tbody>
            {{#each activity_list}}
            <tr>
                <td class="foursquare-profile-pic">
                    <a href="https://foursquare.com/user/{{fields.user.id}}" onclick="window.open(this.href,'_blank');return false;"><img class="img-rounded" src="{{fields.user.photo.prefix}}64x64{{fields.user.photo.suffix}}"></a>
                </td>
                <td class="foursquare-tip-content">
                    {{text}}
                    <div class="foursquare-profile-name">
                        <a href="https://foursquare.com/user/{{fields.user.id}}" onclick="window.open(this.href,'_blank');return false;">{{fields.user.firstName}}</a> · <a href="https://foursquare.com/user/{{fields.canonicalUrl}}" onclick="window.open(this.href,'_blank');return false;">{{createdAt}}</a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>
