<template name="foursquare">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="foursquare">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">
                            Foursquare
                        </li>
                        <li>
                            <i class="icon-th-list" />
                            Venue activity
                        </li>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="foursquare_venue_activity">
    <div class="main-title">
        <h4>
            Venue activity
        </h4>
    </div>

    <div class="input-append">
        <input class="search-input" type="text">
        <button type="button" class="btn">
            Search
        </button>
    </div>

    {{#if check_foursquare}}
    <table class="table-striped table-hover">
        <thead>
            <tr>
                <td colspan="2">
                    Activity ({{total}})
                    <i class="icon-chevron-right pull-right icon-nav page-next" />
                    <div class="pull-right">
                        {{activity_page}}
                    </div>
                    <i class="icon-chevron-left pull-right icon-nav page-back" />
                </td>
            </tr>
        </thead>
        <tbody>
            {{#each activity_list}}
            <tr>
                <td class="foursquare-profile-pic">
                    <a href="https://foursquare.com/user/{{user.id}}" onclick="window.open(this.href,'_blank');return false;">
                        <img src="{{user.image}}" class="img-rounded" />
                    </a>
                </td>
                <td class="foursquare-tip-content">
                    <div class="foursquare-overview-text">
                        {{text}}
                    </div>
                    <div class="foursquare-profile-name">
                        <div class="pull-left">
                            <a href="https://foursquare.com/user/{{user.id}}" onclick="window.open(this.href,'_blank');return false;">
                                {{user.name}}
                            </a>
                            .
                            <a href="https://foursquare.com{{canonicalUrl}}" onclick="window.open(this.href,'_blank');return false;">
                                {{createdAt}}
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="https://foursquare.com{{canonicalUrl}}" onclick="window.open(this.href,'_blank');return false;" class="foursquare-view-more">
                                view {{type}}
                            </a>
                        </div>
                        <div class="clear" />
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <div class="no-data">
            No Foursquare activity available
        </div>
    {{/if}}
</template>
