<template name="twitter">
    <div class="campaign container-shadow">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span2">
                        <div class="campaign-nav">
                            <div class="campaign-title">Twitter</div>
                            <div class="campaign-grey-title">Manage tweets</div>
                            <ul class="unstyled campaign-nav-submenu nav nav-pills">
                                <li class="active"><a class="appnav" href="/twitter">All posts<div class="pull-right">12</div></a></li>
                                <li><a class="appnav" href="/twitter">Recent tweets</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span10">
                        {{{view}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="twitter_list">
    <div class="campaign-content">
        <div class="campaign-title">
            All Tweets
        </div>
    </div>
</template>