<template name="tax">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/taxes" class="appnav anchor-container">
                            <li class="side-header">Taxes</li>
                        </a>
                        <a href="/taxes" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">w</span> All Taxes</li>
                        </a>
                        <a href="/taxes/new" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">+</span> New Tax</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="tax_all">
    <div class="right-container">
        <div class="container-title">
            <h2>
                An overview of your tax rules
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="main-description well highlighted">
            <h4 class="description-title">
                {{#if current_tax}}
                The current tax rule, <span class="dark-blue">"{{current_tax.name}}" of {{current_tax.tax_perc}}% tax</span> is active.
                {{else}}
                All tax rules are disabled.
                {{/if}}
            </h4>
        </div>

        <div class="btn-holder btn-after-main-desc">
            <a href="/taxes/new" class="appnav btn">
                <span class="heydings">+</span>
                Create a new tax rule
            </a>
        </div>

        <div class="campaign">
            <div class="faketable">
                <div class="thead">
                    <div class="span3">
                        Name
                    </div>
                    <div class="span3">
                        Tax Percentage
                    </div>
                    <div class="span3">
                        Status
                    </div>
                    <div class="span3">
                        Admin
                    </div>
                </div>

                <div class="tbody">
                    {{#each taxes}}
                    <div data-expand="{{this.id}}" class="tr pointer obj-row">
                        <div class="span3">
                            {{this.name}}
                        </div>
                        <div class="span3">
                            {{this.tax_perc}}
                        </div>
                        <div class="span3">
                            {{this.status}}
                        </div>
                        <div class="span3">
                            {{this.admin.username}}
                        </div>
                    </div>
                    <div data-expanded="{{this.id}}" class="expanded hidden">
                        <div class="expanded-within">
                            {{#if this.has_description}}
                            <blockquote>
                                {{this.description}}
                            </blockquote>
                            {{/if}}
                            <hr />
                            <div class="btn-holder">
                                {{#if this.has_disable_btn}}
                                <a class="btn btn-primary disable-btn">
                                    <span class="heydings">r</span>
                                    Disable
                                </a>
                                {{else}}
                                <a class="btn btn-primary enable-btn">
                                    <span class="heydings">r</span>
                                    Enable
                                </a>
                                {{/if}}

                                <a class="btn delete-btn">
                                    <span class="heydings">-</span>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="thead">
                    <div class="pull-right">
                        {{#if has_next}}
                        <a href="{{next_page_url}}" class="appnav">
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                        </a>
                        {{/if}}
                        <div class="pull-right">
                            &nbsp;&nbsp;&nbsp;{{current_page}}&nbsp;&nbsp;&nbsp;
                        </div>
                        {{#if has_prev}}
                        <a href="{{prev_page_url}}" class="appnav">
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="tax_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="tax-compose-form">
            <legend>New Tax Rule</legend>
            <fieldset>

                <div class="control-group">
                    <label for="name">Give a name to this Tax Rule</label>
                    <input type="text" placeholder="Good's and Services Tax" name="name" data-required="true" data-focus="first" id="name" />
                </div>

                <div class="control-group">
                    <label for="description">Describe it</label>
                    <textarea rows="3" name="description" id="description" />
                </div>

                <div class="control-group">
                    <label for="#perc">Tax percentage (%)</label>
                    <input type="number" placeholder="10" name="perc" data-required="true" id="perc" />
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary save-active-btn">Save rule and make it active</button>
                    <button class="btn-large btn save-btn">Save rule only</button>
                    <a href="/taxes" class="appnav btn-large btn submit-btn">Back to All Taxes</a>
                </div>
            </fieldset>
        </form>
    </div>
</template>
