<template name="bizinfo">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="twitter">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/bizinfo" class="appnav">
                            <li class="side-header">
                                Business Info
                            </li>
                        </a>
                        <a href="/bizinfo/update" class="appnav">
                            <li>
                                <span class="heydings">w</span> Update
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="bizinfo_overview">
    <div class="rendering">
        <div class="main-title">
            <h4>
                Business Information Overview
            </h4>
        </div>
    </div>
</template>


<template name="bizinfo_update">
    <div class="rendering">
        <div class="main-title">
            <h4>
                Update Business Information
            </h4>
        </div>
    </div>
</template>
