<template name="business-info">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="twitter">
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">
                            Business Info
                        </li>
                        <li>
                            Update business information
                        </li>
                    </ul>
                </div>

                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="business-info_update">
    <div class="rendering">
        <div class="main-title">
            <h4>
                Update Business Information
            </h4>
        </div>
    </div>
</template>
