<template name="items">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        {{#if is_root_container}}
                        <li class="side-header">Item Containers</li>
                        {{else}}
                        <a href="{{back_url}}" class="appnav">
                            <li class="side-header">Go back <span class="icon">u</span></li>
                        </a>
                        {{/if}}
                        {{#each child_containers}}
                        <a href="{{url}}" class="appnav">
                            <li class="container-entry"><span class="icon">F</span> {{name}}</li>
                        </a>
                        {{/each}}
                        <li class="container-entry new_container"><span class="icon">+</span> Add Container</li>
                    </ul>
                </div>


                <!--- main area --->
                <div class="span12 span-fixed-sidebar">

                    <!--- breadcrumb --->
                    {{#if is_root_container}}
                    {{else}}
                    {{>item_breadcrumb}}
                    {{/if}}

                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="item_breadcrumb">
    <div class="breadcrumb-holder">
        <ul class="breadcrumb">
            <li>
                <a href="/items">Items{{nubela}}</a>
            </li>
            {{#each breadcrumbs}}
            <li>
                <span class="divider">/</span>
                <a href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
            <li class="active">
                <span class="divider">/</span>
                {{active}}
            </li>
        </ul>
    </div>
</template>


<template name="select-container">
    <div class="select-container">
        <div class="tooltip fade right in span2">
            <div style class="tooltip-arrow" />
            <div class="tooltip-inner">
                To begin, select <strong>Container</strong> from the left
            </div>
        </div>
    </div>
</template>


<template name="nutella">
    <div class="show-item">
        <div class="span4 item">
            <div class="thumbnail">
                <img src="http://lorempixel.com/400/400?4" />
            </div>
        </div>
        <div class="span6">
            <div class="login-form">
                <h3>Some Item</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                <p>
                    <strong>S$1.60</strong>
                </p>
                <a class="btn btn-primary btn-large btn-block">Update</a>
            </div>
        </div>
    </div>
</template>



<template name="item_compose">
    <!--- new item compose --->
    <div class="compose-new-item well">
        <form class="form-horizontal">
            <legend>New Item</legend>
            <fieldset>
                <div class="control-group">
                    <label>Item name</label>
                    <input type="text" placeholder="Item A" />
                </div>

                <div class="control-group">
                    <label>Media</label>
                    <input type="file" />
                </div>

                <div class="control-group">
                    <label>Description</label>
                    <textarea rows="3" />
                </div>

                <div class="control-group">
                    <label>Price ($)</label>
                    <input type="text" placeholder="4.95" />
                </div>

                <div class="control-group">
                    <label>Add a custom attribute</label>
                    <button class="btn btn-inverse">New custom attribute</button>
                </div>

                <div class="control-group">
                    <a href="{{back_url}}" class="appnav">
                        <button class="btn-large btn">Cancel</button>
                    </a>
                    <button type="submit" class="btn-large btn btn-primary">Save item</button>
                </div>
            </fieldset>
        </form>
    </div>
</template>


<template name="item_container">
    <!--- item container --->
    <div class="item-container">

        <div class="container-desc">

            <h2>
                {{container_name}}
            </h2>
            <small><span class="heydings">l</span> {{total_items}} items in {{container_name}}</small>
            {{#if desc}}
            <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non providen</p>
            {{/if}}
            <p>
                <small>Sort by: <a class="active" href="#">Recently added or modified</a> / <a href="#">Alphabetical order</a></small>
            </p>
        </div>

        <div class="items">
            {{#each items}}
            <div class="row-fluid">
                {{#each individual_item}}
                {{#if is_empty}}
                <div class="span2 item empty">
                    <a href="{{new_item_url}}" class="appnav">
                        <div class="thumbnail" id="create-new-item">
                            <div class="empty-img">
                                <span class="heydings">+</span> New Item
                            </div>
                        </div>
                    </a>
                </div>
                {{else}}
                <div class="span2 item">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/300/300?2" />
                        <div class="text-caption">
                            <p>Sup</p>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            </br>
            {{/each}}
        </div>
    </div>
</template>
