<template name="items">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <!--- sidenav menu --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <li class="side-header">Go back <span class="icon">u</span></li>
                        <li>Pictures</li>
                        <li>Videos</li>
                        <li>Portfolio</li>
                    </ul>
                </div>


                <!--- main area --->
                <div class="span12 span-fixed-sidebar">

                    <!--- breadcrumb --->
                    <div class="breadcrumb-holder">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Pictures</a>
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="#">Sex</a>
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                Girls
                            </li>
                        </ul>
                    </div>

                    <!--- item container --->
                    <div class="item-container">

                        <div class="container-desc">
                            <h2>Girls</h2>
                            <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non providen</p>
                            <p>
                                <small><span class="heydings">l</span> There are 5 items for Girls</small>
                            </p>
                            <p>
                                <small>Sort by: <a class="active" href="#">Recently added or modified</a> / <a href="#">Alphabetical order</a></small>
                            </p>
                        </div>

                        <div class="items">
                            <div class="row-fluid">
                                <div class="span2 item empty">
                                    <div class="thumbnail">
                                        <div class="empty-img">
                                            <span class="heydings">+</span> New Item
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?2" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?3" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?4" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?4" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?4" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="row-fluid">
                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?2" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?2" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?3" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?4" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?4" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 item">
                                    <div class="thumbnail">
                                        <img src="http://lorempixel.com/300/300?4" />
                                        <div class="text-caption">
                                            <p>Sup</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
