<template name="order">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/order" class="appnav">
                            <li class="side-header">Orders / RSVP</li>
                        </a>
                        <a href="/order" class="appnav">
                            <li class="container-entry"><span class="icon">v</span> Overview</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar twitter">

                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="order_update">
    <div class="form-holder well">
        <form method="POST" action="{{submit_url}}" data-validate="parsley" id="bizinfo-update-form">
            <legend>Update Order</legend>

            <fieldset>
                <!--- hidden fields --->
                <input type="hidden" name="redirect_to" value='{{redirect_url}}' />

                <div class="control-group">
                    <label for="order_status">Order Status</label>
                    <select id="order_status">
                        <option>Fresh Order</option>
                        <option>Processing</option>
                        <option>Shipped</option>
                        <option>Cancel Order</option>
                    </select>
                </div>

                <div class="control-group">
                    <label id="description">Order Notes</label>
                    <textarea rows="3" name="description" id="description" placeholder="What does your business do?" />
                </div>

                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn" id="bizinfo-submit-btn">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<template name="order_table">
    <div class="right-container">
        <div class="container-title">
            <h2>
                Orders and RSVP Overview
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <table class="table-striped table-hover">
            <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        Item/Event
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Timestamp
                    </td>
                    <td>
                        Status
                    </td>
                    <td>
                        Actions
                    </td>
                </tr>
            </thead>

            <tbody>
                {{> table_row}}
                {{> table_row}}
                {{> table_row}}
                {{> table_row}}
                {{> table_row}}
            </tbody>
        </table>

        <div class="pagination">
            <ul>
                <li class="previous">
                    <a>
                        <img src="/media/img/pager/previous.png" />
                    </a>
                </li>
                <li class="active">
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li class="next">
                    <a>
                        <img src="/media/img/pager/next.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>


<template name="table_row">
    <tr class="order-entry">
        <td>
            fgs-9g8sd-faf80-9
        </td>
        <td>
            Aerospace Biathlon Event for the Handicappsd
        </td>
        <td>
            Steven Goh Jian Wen
        </td>
        <td>
            3rd Feb 2018
        </td>
        <td>
            <span class="badge badge-info">New</span>
        </td>
        <td>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="#" title="See details on this order" class="view-details order-action btn btn-disabled appnav">
                        <i class="fui-eye-16" />
                    </a>
                    <a href="#" title="Show all orders from this item" class="view-list-items order-action btn btn-disabled appnav">
                        <i class="fui-menu-16" />
                    </a>
                    <a href="/order/update/asdgw" title="Update order status" class="view-change-statusitems order-action btn btn-disabled appnav">
                        <i class="fui-new-16" />
                    </a>
                </div>
            </div>
        </td>
    </tr>
</template>
