<template name="order">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/order" class="appnav">
                            <li class="side-header">Orders</li>
                        </a>
                        <a href="/order" class="appnav">
                            <li class="container-entry"><span class="icon">v</span> Overview</li>
                        </a>
                        <a href="/order/new" class="appnav">
                            <li class="container-entry"><span class="icon">+</span> New Order</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar twitter">

                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="order_all">
    all
</template>

<template name="order_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="order-compose-form">
            <legend>New Manual Order</legend>
            <fieldset>

                <div class="control-group">
                    <label for="user_id">An order for which user?</label>
                    <input type="text" name="user_id" data-required="true" id="user_id" />
                </div>

                <div class="control-group">
                    <label for="status">Order Status</label>
                    <select name="status" id="status">
                        <option value="New">New</option>
                        <option value="Processing">Processing</option>
                        <option value="Shipped">Shipped</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>

                <div class="control-group">
                    <label for="request-notes">User's special request</label>
                    <textarea id="request-notes" name="request_notes"></textarea>
                </div>

                <div class="control-group">
                    <label for="admin-notes">Admin's notes on the order</label>
                    <textarea id="admin-notes" name="admin_notes"></textarea>
                </div>

                <div class="control-group">
                    <a class="btn btn-inverse" id="add-order-item-btn">
                        <i class="icon-plus"></i>
                        Add order item
                    </a>
                </div>

                <div id="order-item-container"></div>

                <div class="control-group order-item hidden" id="order-item-template">
                    <br />
                    <label for="order-item">
                        Order Item <span class="item_no">1</span>&nbsp;&nbsp;
                        <a class="btn btn-inverse rm-order-item-btn">
                            &times;
                        </a>
                    </label>
                    <input type="text" placeholder="(Click to select item)" class="item-selection" class="item-id" />
                    <input type="number" placeholder="Quantity (Example: 23)" class="qty" />
                </div>

                <br />

                <div class="control-group">
                    <label for="coupon-code">Apply coupon code?</label>
                    <input type="text" name="coupon_code" placeholder="ABCDE" id="coupon-code" />
                </div>

                <div class="control-group">
                    <label id="shipping-method">Use Shipping Method?</label>
                    <select name="shipping_method" id="shipping-method">
                        <option>None</option>
                        {{#each shipping_methods}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="control-group">
                    <label class="remove-label">
                        <input type="checkbox" name="apply_debits_credits" id="apply-debits-credits" />
                        Apply taxes and discounts
                    </label>
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn">Save Order</button>
                    <a href="/order" class="appnav btn-large btn submit-btn">Back to managing all orders</a>
                </div>
            </fieldset>
        </form>
    </div>
</template>
