<template name="order">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="account">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/order" class="appnav">
                            <li class="side-header">Orders</li>
                        </a>
                        <a href="/order" class="appnav">
                            <li class="container-entry"><span class="icon">v</span> Overview</li>
                        </a>
                        <a href="/order/new" class="appnav">
                            <li class="container-entry"><span class="icon">+</span> New Order</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar twitter">

                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="order_all">
    <div class="right-container">
        <div class="container-title">
            <h2>
                Overview of orders
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="btn-holder btn-after-main-desc">
            <btn class="btn btn-primary" id="search-by-user">
                <i class="icon-search icon-white"></i>
                Search order by user
            </btn>
            <a href="/order/new" class="appnav btn">
                <span class="heydings">+</span>
                Manually create a new order
            </a>
        </div>

        <div class="campaign">
            <div class="faketable">
                <div class="thead thead-search">
                    <div class="span3">
                        <input type="text" placeholder="Order ID" data-focus="first" id="filter-by-id" />
                    </div>
                    <div class="span1">
                        Status
                    </div>
                    <div class="span2">
                        Timestamp
                    </div>
                    <div class="span4">
                        Items
                    </div>
                    <div class="span2">
                        Net total
                    </div>
                </div>

                <div class="tbody">
                    {{#each orders}}
                    <div data-expand="{{this.id}}" class="tr pointer obj-row">
                        <div class="span3">
                            {{this.id}}
                        </div>
                        <div class="span1">
                            {{this.status}}
                        </div>
                        <div class="span2">
                            {{this.timestamp}}
                        </div>
                        <div class="span4">
                            {{this.all_items}}
                        </div>
                        <div class="span2">
                            ${{this.nett_total}}
                        </div>
                    </div>
                    <div data-expanded="{{this.id}}" class="expanded hidden">
                        <div class="expanded-within">
                            {{#if this.description}}
                            <blockquote>
                                {{this.description}}
                            </blockquote>
                            {{/if}}
                            <p>
                                <h4>Order items and quantity</h4>
                                <small>
                                    {{{this.item_descriptive}}}
                                </small>
                            </p>
                            <hr />
                            <div class="btn-holder">
                                <a href="/order/update/{{this.id}}" class="appnav btn btn-primary update-btn">
                                    <span class="heydings">r</span>
                                    Update
                                </a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="thead">
                    <div class="pull-right paged">
                        {{#if has_next}}
                        <a href="{{next_page_url}}" class="appnav">
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                        </a>
                        {{/if}}
                        <div class="pull-right page-no">
                            {{current_page}}
                        </div>
                        {{#if has_prev}}
                        <a href="{{prev_page_url}}" class="appnav">
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="order_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="order-compose-form">
            <legend>New Manual Order</legend>
            <fieldset>

                <div class="control-group">
                    <label for="user_id">An order for which user?</label>
                    <input type="text" name="user_id" data-required="true" id="user_id" />
                </div>

                <div class="control-group">
                    <label for="status">Order Status</label>
                    <select name="status" id="status">
                        <option value="New">New</option>
                        <option value="Processing">Processing</option>
                        <option value="Shipped">Shipped</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>

                <div class="control-group">
                    <label for="request-notes">User's special request</label>
                    <textarea id="request-notes" name="request_notes"></textarea>
                </div>

                <div class="control-group">
                    <label for="admin-notes">Admin's notes on the order</label>
                    <textarea id="admin-notes" name="admin_notes"></textarea>
                </div>

                <div class="control-group">
                    <a class="btn btn-inverse" id="add-order-item-btn">
                        <i class="icon-plus"></i>
                        Add order item
                    </a>
                </div>

                <div id="order-item-container"></div>

                <div class="control-group order-item hidden" id="order-item-template">
                    <br />
                    <label for="order-item">
                        Order Item <span class="item_no">1</span>&nbsp;&nbsp;
                        <a class="btn btn-inverse rm-order-item-btn">
                            &times;
                        </a>
                    </label>
                    <input type="text" placeholder="(Click to select item)" class="item-selection" class="item-id" />
                    <input type="number" placeholder="Quantity (Example: 23)" class="qty" />
                </div>

                <br />

                <div class="control-group">
                    <label for="coupon-code">Apply coupon code?</label>
                    <input type="text" name="coupon_code" placeholder="ABCDE" id="coupon-code" />
                </div>

                <div class="control-group">
                    <label id="shipping-method">Use Shipping Method?</label>
                    <select name="shipping_method" id="shipping-method">
                        <option>None</option>
                        {{#each shipping_methods}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="control-group">
                    <label class="remove-label">
                        <input type="checkbox" name="apply_debits_credits" id="apply-debits-credits" />
                        Apply taxes and discounts
                    </label>
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary submit-btn">Save Order</button>
                    <a href="/order" class="appnav btn-large btn submit-btn">Back to managing all orders</a>
                </div>
            </fieldset>
        </form>
    </div>
</template>
