<template name="user">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/user" class="appnav anchor-container">
                            <li class="side-header">Manage Users</li>
                        </a>
                        <a href="/user" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">w</span> Manage users</li>
                        </a>
                        <a href="/user/new" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">+</span> New user account</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="user_all">
    <div class="right-container">
        <div class="container-title">
            <h2>
                User Management
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="btn-holder btn-after-main-desc">
            <a href="/user/new" class="appnav btn">
                <span class="heydings">+</span>
                Create a new user
            </a>
        </div>

        <div class="campaign">
            <div class="faketable">
                <div class="thead thead-search">
                    <div class="span2">
                        <input type="text" placeholder="Username" name="username" data-focus="first" id="filter-by-username" />
                    </div>
                    <div class="span2">
                        <input type="text" placeholder="Email address" id="filter-by-email" />
                    </div>
                    <div class="span4">
                        Full Name
                    </div>
                    <div class="span4">
                        Groups
                    </div>
                </div>

                <div class="tbody">
                    {{#each users}}
                    <div data-expand="{{this.id}}" class="tr pointer obj-row">
                        <div class="span2">
                            {{this.username}}
                        </div>
                        <div class="span2">
                            {{this.email}}
                        </div>
                        <div class="span4">
                            {{this.full_name}}
                        </div>
                        <div class="span4">
                            {{this.groups}}
                        </div>
                    </div>
                    <div data-expanded="{{this.id}}" class="expanded hidden">
                        <div class="expanded-within">
                            {{#if this.description}}
                            <blockquote>
                                {{this.description}}
                            </blockquote>
                            {{/if}}
                            {{#if this.origin_desc}}
                            <p>
                                <small>
                                    {{{this.origin_desc}}}<br>
                                </small>
                            </p>
                            {{/if}}
                            <hr />
                            <div class="btn-holder">
                                <a href="/user/update/{{this.id}}" class="appnav btn btn-primary update-btn">
                                    <span class="heydings">r</span>
                                    Update
                                </a>
                                <a class="btn delete-btn">
                                    <span class="heydings">-</span>
                                    Delete user
                                </a>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="thead">
                    <div class="pull-right paged">
                        {{#if has_next}}
                        <a href="{{next_page_url}}" class="appnav">
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                        </a>
                        {{/if}}
                        <div class="pull-right page-no">
                            {{current_page}}
                        </div>
                        {{#if has_prev}}
                        <a href="{{prev_page_url}}" class="appnav">
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="user_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="user-compose-form">
            <legend>New User</legend>
            <fieldset>
                {{#if update_user}}
                <input type="hidden" placeholder="some_username" name="_id" {{#if update_user}}value="{{update_user.id}}" readonly{{/if}} />
                {{/if}}

                <div class="control-group">
                    <label for="username">Username</label>
                    <input type="text" placeholder="some_username" name="username" data-focus="first" {{#if update_user}}value="{{update_user.username}}" readonly{{/if}} id="username" />
                </div>

                <div class="control-group">
                    <label for="email">Email address</label>
                    <input type="text" placeholder="hello@unifide.sg" name="email" data-type="email" {{#if update_user}}value="{{update_user.email}}"{{/if}} id="email" />
                </div>

                <div class="control-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>

                <div class="control-group">
                    <label for="first-name">First name</label>
                    <input type="text" name="first_name" {{#if update_user}}value="{{update_user.first_name}}"{{/if}} id="first-name" />
                </div>

                <div class="control-group">
                    <label for="middle-name">Middle name</label>
                    <input type="text" name="middle_name" {{#if update_user}}value="{{update_user.middle_name}}"{{/if}} id="middle-name" />
                </div>

                <div class="control-group">
                    <label for="last-name">Last name</label>
                    <input type="text" name="last_name" {{#if update_user}}value="{{update_user.last_name}}"{{/if}} id="last-name" />
                </div>

                <div class="control-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" {{#if update_user}}value="{{update_user.address}}"{{/if}} id="address" />
                </div>

                <div class="control-group select-user-grp">
                    <label for="user-groups">
                        User groups
                        <p>
                            <small>
                                <i>Hold CTRL key or ⌘ to select individual blacklists, or hold the SHIFT key to select them together.</i>
                            </small>
                        </p>
                    </label>
                    <select multiple name="user_groups" id="user-groups">
                        {{#each groups}}
                        <option value="{{this.name}}">{{this.description}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="control-group select-user-grp">
                    <label for="status">
                        Status
                    </label>
                    <select id="status">
                        <option value="enabled">Enabled</option>
                        <option value="disabled">Disabled</option>
                        <option value="awaiting_confirmation">Awaiting Email Confirmation</option>
                    </select>
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary save-btn">Save User</button>
                    <a href="/user" class="appnav btn-large btn submit-btn">Back to all users</a>
                </div>
            </fieldset>
        </form>
    </div>
</template>
