<template name="cashback">
    <div class="container-fluid full-container">
        <div class="row-fluid full-row">
            <div class="body-container">
                <!--- navbar --->
                <div class="sidebar-nav-fixed">
                    <ul class="unstyled side-nav">
                        <a href="/cashback/" class="appnav anchor-container">
                            <li class="side-header">Cashbacks</li>
                        </a>
                        <a href="/cashback/" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">w</span> All Cashbacks</li>
                        </a>
                        <a href="/cashback/compose" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">+</span> New Cashback</li>
                        </a>
                        <a href="/cashback/user-credit/" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">A</span> User Credits</li>
                        </a>
                        <a href="/cashback/log/" class="appnav anchor-container">
                            <li class="container-entry"><span class="icon">Y</span> Transaction Logs</li>
                        </a>
                    </ul>
                </div>

                <!--- main area --->
                <div class="span12 span-fixed-sidebar">
                    {{{view}}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="cashback_rules">
    <div class="right-container">
        <div class="container-title">
            <h2>
                Cashback for Purchases
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        {{#if active_rule}}
        <div class="main-description well highlighted">
            <h4 class="description-title">
                <span class="dark-blue">"{{active_rule.name}}"</span> cashback rule is active
            </h4>
            <small>
                {{active_rule.quick_desc}}
            </small>
        </div>
        {{else}}
        <div class="main-description well highlighted">
            <h4 class="description-title">
                <strong>No cashback</strong> is active right now.
            </h4>
        </div>
        {{/if}}


        <div class="btn-holder btn-after-main-desc">
            <a href="/cashback/compose" class="appnav btn-primary btn">
                <i class="icon-plus icon-white"></i>
                New Cashback Rule
            </a>

            {{#if active_rule}}
            <a class="btn" id="disable-active">
                <span class="heydings">2</span>
                Disable "{{active_rule.name}}"
            </a>
            {{/if}}
        </div>

        <div class="campaign">
            <table class="table-hover campaign-manage">
                <thead>
                    <tr>
                        <td>
                            All Cashbacks ({{cashbacks_count}})
                            {{#if has_next}}
                            <a href="{{next_page_url}}" class="appnav">
                                <i class="icon-chevron-right pull-right icon-nav page-next" />
                            </a>
                            {{/if}}
                            <div class="pull-right">
                                {{current_page}}
                            </div>
                            {{#if has_prev}}
                            <a href="{{prev_page_url}}" class="appnav">
                                <i class="icon-chevron-left pull-right icon-nav page-back" />
                            </a>
                            {{/if}}
                        </td>
                    </tr>
                </thead>

                <tbody>
                    {{#each cashbacks}}
                    <tr data-cashback-id="{{this.id}}" class="obj-row">
                        <td>

                            <div class="pull-left">
                                <strong>{{this.name}}</strong>
                                - {{this.quick_desc}}
                            </div>
                            <div class="pull-right">
                                {{admin.username}} on {{this.last_mod_date}}
                            </div>

                            <div class="clear spacing10"></div>
                            <div class="expanded hidden">
                                <blockquote>
                                    {{this.description}}
                                </blockquote>
                                <hr />
                                <div class="btn-holder">
                                    {{#if this.is_disabled}}
                                    <a class="btn btn-primary make-active">
                                        <span class="heydings">8</span>
                                        Make active
                                    </a>
                                    {{/if}}

                                    <a class="btn">
                                        <i class="icon-minus"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="cashback_user_values">
    <div class="right-container">
        <div class="container-title">
            <h2>
                Users' stored credits
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="campaign">
            <table class="table-hover campaign-manage">
                <thead>
                    <tr>
                        <td>
                            <input type="text" placeholder="Search by Username or Email address.." class="table-header-input" id="username-email-filter" />
                            {{#if has_next}}
                            <a href="{{next_page_url}}" class="appnav">
                                <i class="icon-chevron-right pull-right icon-nav page-next" />
                            </a>
                            {{/if}}
                            <div class="pull-right">
                                {{current_page}}
                            </div>
                            {{#if has_prev}}
                            <a href="{{prev_page_url}}" class="appnav">
                                <i class="icon-chevron-left pull-right icon-nav page-back" />
                            </a>
                            {{/if}}
                        </td>
                    </tr>
                </thead>

                <tbody>
                    {{#each users}}
                    <tr data-credit-id="{{this.id}}" class="obj-row">
                        <td>
                            <div class="pull-left">
                                <strong>{{this.user.username}}</strong>
                                - ${{this.total_credit}}
                            </div>
                            <div class="pull-right">
                                Last transaction on {{this.last_mod_date}}
                            </div>

                            <div class="clear spacing10"></div>
                            <div class="expanded hidden">
                                <div class="btn-holder">
                                    <a class="btn adjust-btn">
                                        <span class="heydings">w</span>
                                        Adjust credit
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="cashback_compose">
    <div class="compose-new-item well">
        <form method="POST" data-validate="parsley" id="cashback-compose-form">
            <legend>New Cashback Rule</legend>
            <fieldset>

                <div class="control-group">
                    <label for="name">Give a name to this Cashback Rule</label>
                    <input type="text" placeholder="Cashback A" name="name" data-required="true" data-focus="first" id="name" />
                </div>

                <div class="control-group">
                    <label for="description">Describe it</label>
                    <textarea rows="3" name="description" id="description" />
                </div>

                <div class="control-group">
                    <label for="#perc">Cashback percentage (%)</label>
                    <input type="number" placeholder="10" name="perc" data-required="true" id="perc" />
                </div>

                <div class="control-group">
                    <label for="min-spending">Minimum spending ($)</label>
                    <input type="number" placeholder="50" name="min-spending" data-required="true" id="min-spending" />
                </div>

                <br />
                <div class="control-group">
                    <button class="btn-large btn btn-primary save-active-btn">Save rule and make it active</button>
                    <button class="btn-large btn save-btn">Save rule only</button>
                    <a href="/cashback" class="appnav btn-large btn submit-btn">Back to Cashbacks</a>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<template name="cashback_transaction_log">
    <div class="right-container">
        <div class="container-title">
            <h2>
                Transactional logs
            </h2>
            <p>
                <small>
                    <span class="heydings">l</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </small>
            </p>
        </div>

        <div class="campaign">
            <table class="table-hover">
                <thead>
                    <tr>
                        <td>
                            <input type="text" class="input-small" placeholder="Username" />
                        </td>
                        <td>
                            <input type="text" class="input-small" placeholder="Email" />
                        </td>
                        <td>
                            <input type="text" class="input-small" placeholder="Process by.." />
                        </td>
                        <td>
                            Transaction type
                        </td>
                        <td>
                            Value
                        </td>
                        <td>
                            Date
                        </td>
                    </tr>
                </thead>


                <tbody>

                    <tr>
                        <td>
                            <strong>nubela</strong>
                        </td>
                        <td>
                            nubela@gmail.com
                        </td>
                        <td>
                            Jamie
                        </td>
                        <td>
                            Credit
                        </td>
                        <td>
                            - $3.40
                        </td>
                        <td>
                            24th April 2013
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>nubela</strong>
                        </td>
                        <td>
                            nubela@gmail.com
                        </td>
                        <td>
                            Jamie
                        </td>
                        <td>
                            Credit
                        </td>
                        <td>
                            - $3.40
                        </td>
                        <td>
                            24th April 2013
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>nubela</strong>
                        </td>
                        <td>
                            nubela@gmail.com
                        </td>
                        <td>
                            Jamie
                        </td>
                        <td>
                            Credit
                        </td>
                        <td>
                            - $3.40
                        </td>
                        <td>
                            24th April 2013
                        </td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <i class="icon-chevron-right pull-right icon-nav page-next" />
                            <div class="pull-right">
                                &nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;
                            </div>
                            <i class="icon-chevron-left pull-right icon-nav page-back" />
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</template>
